footer.footer{
    .group-menu-footer{
        background: $bg-dark-2;
        padding-top: 100px;
        padding-bottom: 84px;

        .container{
            display: flex;
        }

        .list-menu-footer{
            width: 20%;
            flex-shrink: 0;

            > h6{
                color: #fff;
                font-weight: 700;
                margin-bottom: 20px;
            }

            > ul{
                padding-left: 0;
                margin-bottom: 0;
                
                > li{
                    display: block;
                    margin-bottom: 15px;

                    > a{
                        color: $text-footer;
                        text-decoration: none;
                        transition: .35s ease-in-out;

                        &:hover{
                            color: #fff;
                        }
                    }

                    &:last-child{
                        margin-bottom: 0;
                    }
                }
            }
        }
    }

    .main-footer{
        background: $bg-dark-1;
        padding: 50px 0;

        .side-left{
            > h6{
                color: #fff;
                font-weight: 700;
                margin-bottom: 15px;
            }

            > .contact-footer{
                padding-left: 0;
                margin-bottom: 45px;

                > li{
                    display: block;
                    color: $text-footer;
                    margin-bottom: 10px;

                    > .fas, > .fab{
                        width: 30px;
                    }

                    &:last-child{
                        margin-bottom: 0;
                    }
                }
            }

            .list-img{
                display: flex;
                align-items: center;
        
                > img{
                    align-self: flex-start;
                    margin-right: 23px;
        
                    &:last-child{
                        margin-right: 0;
                    }
                }
            }
        }

        .side-right{
            > h6{
                color: #fff;
                margin-bottom: 15px;
                font-weight: 700;
            }

            > p{
                font-size: .875rem;
                line-height: 1.5rem;
            }
        }
    }

    .copyright{
        background: $bg-dark-1;

        > .container{
            padding-top: 25px;
            padding-bottom: 25px;
            display: flex;
            justify-content: space-between;
            position: relative;

            &:before{
                content: ' ';
                width: 100%;
                height: 1px;
                background: #2E3A59;
                position: absolute;
                top: 0;
                left: 0;
            }

            > span{
                font-size: .875rem;
                color: $text-footer;
            }

            > ul{
                padding-left: 0;
                margin-bottom: 0;

                > li{
                    display: inline-block;
                    margin-right: 25px;

                    > a{
                        text-decoration: none;
                        font-size: .875rem;
                        color: $text-footer;
                    }

                    &:last-child{
                        margin-right: 0;
                    }
                }
            }
        }
    }
}

@media(max-width: 1199px){
    footer.footer{
        .group-menu-footer{
            .list-menu-footer{
                padding-right: 20px;
            }
        }
    }
}

@media(max-width: 991px){
    footer.footer{
        .main-footer{
            .side-left{
                margin-bottom: 60px;

                > .contact-footer{
                    margin-bottom: 30px;
                }
            }
        }

        .copyright{
            > .container{
                flex-direction: column;

                > span{
                    margin-bottom: 15px;
                }
            }
        }
    }
}

@media(max-width: 767px){
    footer.footer{
        .group-menu-footer{
            .container{
                flex-wrap: wrap;
            }

            .list-menu-footer{
                width: 50%;
                padding-right: 0;
                margin-bottom: 60px;

                &:last-child{
                    margin-bottom: 0;
                }
            }
        }
    }
}