header.header{
    width: 100%;
    background: #fff;
    box-shadow: 0 2px 10px rgba(#000, .05);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    transition: .35s ease-in-out;

    > .top-header{
        padding: 10px 0;
        border-bottom: 1px solid #F3F3F3;
        position: relative;
        z-index: 10;

        > .container{
            display: flex;
            justify-content: space-between;
            align-items: center;

            > ul.group-menu{
                padding-left: 0;
                margin-bottom: 0;
                display: flex;
                list-style: none;

                > li{
                    margin-right: 35px;

                    > a{
                        font-size: 14px;
                        text-decoration: none;
                        color: $text-color-dark;

                        > span{
                            margin-left: 7px;
                            font-weight: 500;
                        }
                    }

                    &:last-child{
                        margin-right: 0;
                    }
                }
            }

            > .group-button{
                > a{
                    margin-right: 10px;

                    &:last-child{
                        margin-right: 0;
                    }
                }
            }
        }
    }

    > .main-header{
        position: relative;

        > .container{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-top: 29px;
            padding-bottom: 29px;
            transition: .35s ease-in-out;

            > .logo-header{
                transform: scale(1);
                transform-origin: left center;
                transition: .35s ease-in-out;

                > img{
                    width: 203px;
                }
            }

            > .main-nav{
                > .btn-nav-mobile{
                    display: none;
                }

                > ul{
                    display: flex;
                    list-style: none;
                    padding-left: 0;
                    margin-bottom: 0;

                    > li{
                        margin-right: 35px;

                        > a{
                            font-weight: 700;
                            text-decoration: none;
                            color: $text-color-dark;
                            transition: ease-in-out;

                            &:hover{
                                color: $primary-color;
                            }
                        }

                        &.header-menu-mobile{
                            display: none;
                        }

                        &.megamenu{
                            > a{
                                > span{
                                    margin-right: 5px;
                                }
                            }

                            > .megamenu-content{
                                background: #fff;
                                width: 100%;
                                margin-top: 37px;
                                display: none;
                                position: absolute;
                                left: 0;
                                box-shadow: 0 5px 5px rgba(#000, .05);

                                &:before{
                                    content: ' ';
                                    width: 300px;
                                    height: 100%;
                                    background: $bg-light-3;
                                    position: absolute;
                                    top: 0;
                                    right: 0;
                                }

                                .side-promo{
                                    display: flex;
                                    align-items: center;

                                    > .side-promo-inner{
                                        display: flex;
                                        padding-top: 14px;
                                        padding-bottom: 14px;

                                        > img{
                                            width: 274px;
                                            flex-shrink: 0;
                                            margin-right: 20px;
                                        }

                                        > .text-promo{
                                            display: flex;
                                            flex-direction: column;
                                            justify-content: center;

                                            > .label-promo{
                                                color: $primary-color;
                                                font-weight: 700;
                                                margin-bottom: 5px;
                                            }

                                            > h1{
                                                font-weight: 700;
                                                margin-bottom: 20px;
                                            }

                                            > .btn{
                                                align-self: flex-start;
                                            }
                                        }
                                    }
                                }

                                .side-menu{
                                    background: $bg-light-3;

                                    .group-menu{
                                        padding-left: 30px;
                                        display: flex;
                                        flex-direction: column;
                                        padding-top: 40px;
                                        padding-bottom: 40px;
                                        position: relative;

                                        > h4{
                                            color: $primary-color;
                                            font-weight: 700;
                                            margin-bottom: 20px;
                                        }

                                        > ul{
                                            padding-left: 0;
                                            margin-bottom: 0;

                                            > li{
                                                display: block;
                                                margin-bottom: 15px;
                                                
                                                > a{
                                                    color: $text-color-dark;
                                                    font-weight: 500;
                                                    text-decoration: none;
                                                    transition: .35s ease-in-out;

                                                    &:hover{
                                                        color: $primary-color;
                                                    }
                                                }

                                                &:last-child{
                                                    margin-bottom: 0;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }

                        &.menu-mobile{
                            display: none;
                        }

                        &:last-child{
                            margin-right: 0;
                        }
                    }
                }
            }
        }
    }

    &.hide-top-header{
        top: -65px;

        > .main-header{
            > .container{
                padding-top: 15px;
                padding-bottom: 15px;

                > .logo-header{
                    transform: scale(.8);
                }

                > .main-nav{
                    > ul{
                        > li{
                            &.megamenu{
                                > .megamenu-content{
                                    margin-top: 23px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media(min-width: 992px) and (max-width: 1199px){
    header.header{
        > .main-header{ 
            > .container{ 
                > .main-nav{ 
                    > ul{
                        > li{
                            &.megamenu{
                                > .megamenu-content{
                                    .side-promo{
                                        > .side-promo-inner{ 
                                            > img{
                                                width: 200px;
                                            }

                                            > .text-promo{
                                                > h1{
                                                    font-size: 2rem;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media(max-width: 991px){
    header.header{
        > .top-header{
            display: none;
        }

        > .main-header{
            > .container{
                padding-top: 15px;
                padding-bottom: 15px;

                > .logo-header{
                    transform: scale(.8);
                }

                > .main-nav{
                    > .btn-nav-mobile{
                        width: 30px;
                        height: 25px;
                        display: block;

                        > span{
                            width: 100%;
                            height: 4px;
                            background: $text-color-dark;
                            display: block;
                            position: relative;
                            transform: rotate(0);
                            transition: .35s ease-in-out;

                            &:first-child{
                                top: 0;
                                transform-origin: left top;
                            }

                            &:nth-child(2){
                                top: 7px;
                            }

                            &:last-child{
                                top: 14px;
                            }
                        }

                        &:hover{
                            cursor: pointer;
                        }
                    }

                    > ul{
                        width: 100vw;
                        height: 100vh;
                        overflow-y: scroll;
                        background: #fff;
                        flex-direction: column;
                        position: fixed;
                        top: 0;
                        right: -100vw;
                        z-index: 9999;
                        transition: .35s ease-in-out;

                        > li{
                            margin-right: 0;
                            border-bottom: 1px solid #eee;

                            > a{
                                padding: 20px 30px;
                                display: flex;
                                width: 100%;
                            }

                            &.header-menu-mobile{
                                width: 100%;
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
                                padding: 40px 20px;

                                > .group-btn{
                                    display: flex;
                                    flex-shrink: 0;
                                    align-items: center;

                                    > .btn{
                                        align-self: flex-start;
                                        margin-right: 15px;
                                    }
                                }

                                > .button-close-nav{
                                    width: 33px;
                                    height: 33px;
                                    padding: 0;
                                    display: block;
                                    position: relative;
                                    transform: rotate(45deg);

                                    > span{
                                        &:first-child{
                                            width: 100%;
                                            height: 4px;
                                            background: $text-color-dark;
                                            position: absolute;
                                            top: 50%;
                                            left: 0;
                                            transform: translateY(-50%);
                                        }

                                        &:last-child{
                                            width: 4px;
                                            height: 100%;
                                            background: $text-color-dark;
                                            position: absolute;
                                            top: 0;
                                            left: 50%;
                                            transform: translateX(-50%);
                                        }
                                    }
                                }
                            }

                            &.megamenu{
                                > a{
                                    align-items: center;
                                    justify-content: space-between;

                                    > .fas{
                                        transform: rotate(0);
                                        transition: .35s ease-in-out;
                                    }
                                }

                                > .megamenu-content{
                                    margin-top: 0;
                                    padding-bottom: 30px;
                                    box-shadow: none;
                                    position: static;

                                    &:before{
                                        display: none;
                                    }

                                    .side-promo{
                                        > .side-promo-inner{
                                            width: 100%;
                                            justify-content: center;
                                        }
                                    }

                                    .side-menu{
                                        border-radius: 15px;

                                        .col-lg-6{
                                            &:first-child{
                                                .group-menu{
                                                    padding-bottom: 0;
                                                }
                                            }
                                        }
                                    }
                                }

                                &.collapsed{
                                    > a{
                                        > .fas{
                                            transform: rotate(180deg);
                                        }
                                    }
                                }
                            }

                            &.menu-mobile{
                                display: block;
                            }
                        }
                    }
                }
            }
        }

        &.hide-top-header{
            top: 0;
        }

        &.toggle-nav{
            > .main-header{
                > .container{
                    > .main-nav{
                        > ul{
                            right: 0;
                        }
                    }
                }
            }
        }
    }
}

@media(max-width: 575px){
    header.header{
        > .main-header{
            > .container{ 
                > .main-nav{ 
                    > ul{
                        > li.megamenu{
                            > .megamenu-content{ 
                                .side-promo{
                                    > .side-promo-inner{
                                        flex-direction: column-reverse;
                                        align-items: center;
                                        text-align: center;

                                        > img{
                                            margin-right: 0;
                                        }

                                        > .text-promo{
                                            > .btn{
                                                align-self: center;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}