.hero-banner{
    display: block;
    margin-top: 165px;

    .item-slider{
        height: 800px;
        display: flex;
        align-items: center;

        .side-img{
            > img{
                width: 95%;
            }
        }

        .side-text{
            display: flex;
            align-items: center;

            .side-text-inner{
                width: 452px;
                display: flex;
                flex-direction: column;
                justify-content: center;

                > .label-title-banner{
                    font-size: 1.25rem;
                    font-weight: 700;
                    line-height: 1.875rem;
                    display: block;
                    margin-bottom: 15px;
                    color: $primary-color;
                }

                > .title-banner{
                    font-size: 4rem;
                    font-weight: 700;
                    line-height: 1.1;
                    margin-bottom: 15px;
                }

                > .desc-banner{
                    font-size: 1.125rem;
                    line-height: 1.875rem;
                    margin-bottom: 36px;
                }

                > .btn{
                    align-self: flex-start;
                }
            }
        }
    }

    .owl-nav{
        width: 100%;
        height: 0;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);

        > .owl-prev, > .owl-next{
            width: 50px;
            height: 50px;
            background: #fff;
            color: $text-color-dark;
            border-radius: 6px;
            box-shadow: 0 10px 30px rgba(#000, 0.1);
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            transition: .35s ease-in-out;

            &:hover{
                background: $accent-color;
                color: #fff;
            }
        }

        > .owl-prev{
            left: 30px;
        }

        > .owl-next{
            right: 30px;
        }
    }

    .owl-dots{
        position: absolute;
        left: 50%;
        bottom: 30px;
        transform: translateX(-50%);

        .owl-dot{
            width: 10px;
            height: 10px;
            border-radius: 10px;
            background: $bg-light-1;
            margin-right: 10px;
            transition: .35s ease-in-out;

            &:last-child{
                margin-right: 0;
            }

            &.active{
                width: 24px;
                background: $accent-color;
            }
        }
    }
}

@media(max-width: 1199px){
    .hero-banner{
        .item-slider{
            .side-img{
                > img{
                    width: 100%;
                }
            }
            .side-text{
                .side-text-inner{
                    > .title-banner{
                        font-size: 3.75rem;
                    }
                }
            }
        }
    }
}

@media(max-width: 991px){
    .hero-banner{
        margin-top: 80px;
        .item-slider{
            height: auto;
            
            .side-img{
                padding-bottom: 70px;
            }

            .side-text{
                padding-top: 70px;
                text-align: center;
                justify-content: center;
                
                .side-text-inner{
                    > .btn{
                        align-self: center;
                    }
                }
            }
        }
    }
}

@media(max-width: 575px){
    .hero-banner{
        .item-slider{
            .side-text{
                .side-text-inner{
                    width: 100%;

                    > .title-banner{
                        font-size: 2.5rem;
                        line-height: 3.125rem;
                    }
                }
            }
        }
    }
}