section.instrument-trading{
    background: $bg-dark-1;
    padding: 130px 0;

    .row{
        display: flex;
        align-items: center;

        > .side-text{
            > .main-heading{
                color: #fff;
                margin-bottom: 26px;
            }

            > p{
                font-size: 1.375rem;
                line-height: 2.375rem;
                margin-bottom: 43px;
                color: $text-color-2;
            }

            > .group-btn{
                > .btn{
                    margin-right: 20px;

                    &:last-child{
                        margin-right: 0;
                    }
                }
            }
        }

        > .side-img{
            display: flex;
            justify-content: flex-end;

            > img{
                max-width: 526px;
            }
        }
    }
}

section.account-type{
    padding-top: 120px;
    padding-bottom: 130px;
    background: $bg-light-3;

    > .main-heading, > .sub-heading{
        text-align: center;
    }

    > .main-heading{
        margin-bottom: 6px;
    }

    > .sub-heading{
        margin-bottom: 89px;
    }

    > .container{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .group-btn{
        display: block;
        margin-top: 20px;
        text-align: center;

        > .btn{
            margin-right: 20px;

            &:last-child{
                margin-right: 0;
            }
        }
    }
}

section.count{
    padding: 100px 0;
    background: $bg-dark-1;

    .count-list{
        text-align: center;

        > h1{
            background: -webkit-linear-gradient(#1367C9, #6BBBFF);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-size: 3.4375rem;
            font-weight: 600;

            > span{
                display: inline-block;
                margin-left: -5px;
                margin-right: -5px;
            }
        }

        > span{
            color: $text-color-2;
            display: block;
            padding: 0 72px;
        }
    }
}

section.transaction{
    padding: 130px 0;
    background: $bg-light-3;

    .side-text{
        display: flex;
        flex-direction: column;
        justify-content: center;

        > .main-heading{
            margin-bottom: 25px;
        }

        > p{
            margin-bottom: 50px;
        }

        > .btn{
            align-self: flex-start;
        }
    }

    .list-logo{
        .thumb-logo{
            width: 100%;
            height: 120px;
            background: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 10px;

            &.bca{
                > img{
                    width: 120px;
                }
            }

            &.bri{
                > img{
                    width: 135px;
                }
            }

            &.bni{
                > img{
                    width: 120px;
                }
            }

            &.local-bank{
                > img{
                    width: 145px;
                }
            }

            &.fasapay{
                > img{
                    width: 140px;
                }
            }

            &.skrill{
                > img{
                    width: 120px;
                }
            }

            &.neteller{
                > img{
                    width: 135px;
                }
            }

            &.perfect-money{
                > img{
                    width: 140px;
                }
            }

            &.crypto-currency{
                > img{
                    width: 143px;
                }
            }
        }
    }
}

section.security-fund{
    padding-top: 120px;
    padding-bottom: 130px;

    .main-heading, .sub-heading{
        text-align: center;
    }

    .sub-heading{
        margin-bottom: 65px;
    }

    .block-btn{
        margin-top: 70px;
    }
}

section.platform-trading{
    padding-top: 60px;
    padding-bottom: 130px;

    .main-heading{
        text-align: center;
        margin-bottom: 70px;
    }
}

section.crypto-trading{
    padding: 130px 0;
    background: $bg-dark-1;
    overflow: hidden;
    position: relative;

    > .ornament{
        position: absolute;
        z-index: 2;

        &:first-child{
            top: -160px;
            left: -113px;
        }

        &:nth-child(2){
            top: 81px;
            right: 10.5%;
        }

        &:nth-child(3){
            right: 25%;
            bottom: -200px;
        }
    }

    > .container{
        position: relative;
    }

    .side-img{
        > img{
            width: 100%;
        }
    }

    .side-text{
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        z-index: 10;

        > h1{
            font-size: 4rem;
            line-height: 5rem;
            font-weight: 700;
            color: #fff;
            margin-bottom: 26px;

            > span{
                &:last-child{
                    color: $accent-color;
                }
            }
        }

        > p{
            max-width: 429px;
            font-size: 1.5rem;
            line-height: 2.375rem;
            color: #fff;
            margin-bottom: 48px;
        }

        > .btn{
            align-self: flex-start;
        }
    }
}

section.feature-1{
    padding: 130px 0;

    .side-img{
        > img{
            width: 100%;
        }
    }

    .side-text{
        display: flex;
        flex-direction: column;
        justify-content: center;
        .main-heading{
            margin-bottom: 42px;
        }

        ul{
            padding-left: 0;
            margin-bottom: 0;
            list-style: none;

            > li{
                display: flex;
                margin-bottom: 40px;

                > .icon-frame{
                    width: 60px;
                    height: 60px;
                    flex-shrink: 0;
                    background: $text-color-dark;
                    border-radius: 10px;
                    display: flex;
                    justify-content: center;
                    align-items: flex-end;
                    margin-right: 25px;
                    position: relative;
                    top: 7px;

                    > img{
                        width: 45px;
                    }
                }

                > .text-list{
                    > h4{
                        font-size: 1.625rem;
                        font-weight: 700;
                        line-height: 2rem;
                        margin-bottom: 10px;
                    }

                    > p{
                        margin-bottom: 0;
                    }
                }

                &:last-child{
                    margin-bottom: 0;
                }
            }
        }
    }
}

section.feature-2{
    padding-top: 120px;
    padding-bottom: 130px;
    background: $bg-light-3;

    .main-heading{
        text-align: center;
        margin-bottom: 70px;
    }
}

section.education{
    padding-top: 120px;
    padding-bottom: 130px;

    .slider-education{
        .slider-item{
            background: $bg-light-3;
            border-radius: 15px;

            > img{
                border-radius: 15px;
                display: block;
            }

            > .text-slider{
                display: block;
                padding: 25px 35px 30px 35px;

                > a{
                    display: block;
                    font-size: 1.5rem;
                    font-weight: 700;
                    color: $text-color-dark;
                    text-decoration: none;
                    margin-bottom: 10px;
                    transition: .35s ease-in-out;
                }

                > p{
                    margin-bottom: 13px;
                }

                > .block-meta{
                    display: block;

                    > .list-meta{
                        font-size: .875rem;
                        font-weight: 500;
                        color: lighten($text-color, 20%);
                        display: inline-block;

                        > span{
                            margin-left: 8px;
                        }
                    }
                }
            }
        }
    }
}

section.event-gallery{
    background: $bg-light-3;
    padding-top: 120px;
    padding-bottom: 130px;

    .slider-event{
        .owl-stage{
            padding-top: 30px;
            padding-bottom: 30px;
        }

        .owl-item{
            transition: .35s ease-in-out;

            > .slider-item{
                display: block;
                text-decoration: none;
                 
                > .group-img{
                    border-radius: 15px;
                    overflow: hidden;
                    margin-bottom: 20px;
                    position: relative;

                    &:before{
                        content: ' ';
                        width: 100%;
                        height: 100%;
                        background: rgba($text-color-dark, .85);
                        opacity: 0;
                        position: absolute;
                        top: 0;
                        left: 0;
                        transition: .35s ease-in-out;
                    }

                    > img{
                        &:last-child{
                            width: 35px;
                            opacity: 0;
                            position: absolute;
                            top: 60%;
                            left: 50%;
                            z-index: 2;
                            transform: translate(-50%, -50%);
                            transition: .35s ease-in-out;
                        }
                    }
                }

                > .title-slider{
                    text-align: center;
                    color: $text-color-dark;
                    font-weight: 600;
                    opacity: 0;
                    transition: .35s ease-in-out;
                }

                &:hover{
                    > .group-img{
                        &:before{
                            opacity: 1;
                        }

                        > img{
                            &:last-child{
                                opacity: 1;
                                top: 50%;
                            }
                        }
                    }

                    > .title-slider{
                        opacity: 1;
                    }
                }
            }

            &.center{
                transform: scale(1.2);

                > .group-img{
                    border-radius: 20px;
                }
            }
        }
    }
}

section.achievement{
    background: $bg-dark-3;
    padding-top: 120px;
    padding-bottom: 130px;

    .main-heading{
        text-align: center;
        color: #fff;
        margin-bottom: 70px;
    }

    .thumb-achieve{
        text-align: center;

        > .thumb-ribbon{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 21px;
            position: relative;

            > img{
                width: 150px;
            }

            > span{
                font-size: 1.875rem;
                font-weight: 700;
                color: #F1C012;
                position: absolute;
            }
        }

        > span{
            width: 138px;
            display: block;
            margin-left: auto;
            margin-right: auto;
            font-size: 1.125rem;
            font-weight: 700;
            line-height: 1.625rem;
            color: #fff;
        }
    }
}

@media(max-width: 1399px){
    section.instrument-trading{
        .row{
            > .side-text{
                > .main-heading{
                    font-size: 2.5rem;
                    line-height: 3.4375rem;
                }
            }

            > .side-img{
                > img{
                    width: 100%;
                }
            }
        }
    }

    section.count{
        .count-list{
            > span{
                padding: 0 50px;
            }
        }
    }

    section.account-type{
        .container{
            width: 100%;
            max-width: 100%;
        }
    }
}

@media(max-width: 1199px){
    section.count{
        .count-list{
            > span{
                padding: 0 20px;
            }
        }
    }
}

@media(min-width: 992px) and (max-width: 1199px){
    section.transaction{
        .side-text{
            > .main-heading{
                font-size: 2rem;
                line-height: 2.5rem;
            }
        }

        .list-logo{
            .thumb-logo{
                &.bca, &.bri, &.bni, &.local-bank, &.fasapay, &.skrill, &.neteller, &.perfect-money, &.crypto-currency{
                    > img{
                        width: 100px;
                    }
                }
            }
        }
    }

    section.crypto-trading{
        .side-text{
            > h1{
                font-size: 3.4375rem;
            }
        }
    }

    section.feature-1{
        .side-text{
            .main-heading{
                font-size: 2.5rem;
                margin-bottom: 20px;
            }

            ul{
                > li{
                    margin-bottom: 20px;

                    &:last-child{
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}

@media(max-width: 991px){
    section.instrument-trading{
        .row{
            > .side-text{
                text-align: center;
                margin-bottom: 80px;
            }

            > .side-img{
                justify-content: center;
            }
        }
    }

    section.transaction{
        .side-text{
            display: flex;
            text-align: center;

            > p{
                margin-bottom: 30px;
            }

            > .btn{
                align-self: center;
            }
        }

        .list-logo{
            .thumb-logo{
                &.bca, &.bri, &.bni, &.local-bank, &.fasapay, &.skrill, &.neteller, &.perfect-money, &.crypto-currency{
                    > img{
                        width: 100px;
                    }
                }
            }
        }
    }

    section.platform-trading{
        .col-lg-6{
            &:first-child{
                margin-bottom: 70px;
            }
        }
    }

    section.crypto-trading{
        .side-text{
            text-align: center;

            > p{
                max-width: 100%;
            }

            > .btn{
                align-self: center;
            }
        }
    }

    section.event-gallery{
        .slider-event{
            .owl-stage{
                padding-top: 0;
                padding-bottom: 0;
            }

            .owl-item{
                > .slider-item{
                    > .group-img{
                        border-radius: 20px;
                    }
                }
            }
        }
    }
}

@media(max-width: 575px){
    section.instrument-trading{
        padding: 100px 0;

        .main-heading{
            font-size: 2.25rem;
            line-height: 3rem;
        }
    }

    section.account-type{
        padding-top: 90px;
        padding-bottom: 100px;

        .main-heading{
            font-size: 2.25rem;
            line-height: 3rem;
        }

        > .sub-heading{
            margin-bottom: 65px;
        }

        .group-btn{
            display: flex;
            flex-direction: column;
            align-items: center;

            > .btn{
                margin-right: 0;

                &:first-child{
                    margin-bottom: 15px;
                }
            }
        }
    }

    section.count{
        .count-list{
            > h1{
                margin-bottom: 0;
            }

            > span{
                width: 285px;
                display: block;
                margin-left: auto;
                margin-right: auto;
                padding: 0 60px;
            }
        }
    }

    section.transaction{
        padding: 100px 0;

        .main-heading{
            font-size: 2.25rem;
            line-height: 3rem;
            margin-bottom: 15px !important;
        }

        p{
            margin-bottom: 35px !important;
        }
    }

    section.security-fund{
        padding-top: 90px;
        padding-bottom: 100px;

        .main-heading{
            font-size: 2.25rem;
            line-height: 3rem;
        }

        .sub-heading{
            margin-bottom: 40px;
        }
    }

    section.platform-trading{
        padding-bottom: 100px;

        .main-heading{
            font-size: 2.25rem;
            line-height: 3rem;
            margin-bottom: 40px;
        }
    }

    section.crypto-trading{
        padding: 100px 0;

        > .ornament{
            display: none;
        }
        
        .side-text{
            > h1{
                font-size: 2.5rem;
                line-height: 3.3125rem;
                margin-bottom: 20px;
            }

            > p{
                font-size: 1.125rem;
                line-height: 1.75rem;
            }
        }
    }

    section.feature-1{
        padding: 100px 0;

        .main-heading{
            font-size: 2.25rem;
            line-height: 3rem;
            margin-bottom: 25px !important;
        }

        .side-text{
            ul{
                > li{
                    margin-bottom: 30px;
                }
            }
        }
    }

    section.feature-2{
        padding-top: 90px;
        padding-bottom: 100px;
        
        .main-heading{
            font-size: 2.25rem;
            line-height: 3rem;
            margin-bottom: 50px;
        }
    }

    section.event-gallery{
        padding-top: 90px;
        padding-bottom: 40px;

        .main-heading{
            font-size: 2.25rem;
            line-height: 3rem;
            margin-bottom: 40px !important;
        }
    }

    section.achievement{
        padding-top: 90px;
        padding-bottom: 100px;

        .main-heading{
            font-size: 2.25rem;
            line-height: 3rem;
        }
    }
}