.main-heading{
    &.lg{
        font-size: 3rem;
        font-weight: 700;
        line-height: 3.875rem;
    }

    &.sm{
        font-size: 2.625rem;
        font-weight: 700;
        line-height: 3.25rem;
    }
}

.group-heading-slider{
    display: block;
    text-align: center;
    margin-bottom: 70px;
    position: relative;

    > .main-heading{
        margin-bottom: 0;
    }

    > .group-meta{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;

        > .clue-slide, 
        > .count-slide-event, 
        > .count-slide-blog{
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
        }

        > .clue-slide{
            width: 209px;
            display: flex;
            text-align: left;
            line-height: 1.5rem;
            color: $text-color;
            left: 0;

            > img{
                width: 37px;
                align-self: flex-start;
                margin-right: 10px;
                position: relative;
                top: 9px;
            }
        }

        > .count-slide-event,
        > .count-slide-blog{
            font-size: 1.5rem;
            font-weight: 600;
            color: $text-color;
            right: 0;
        }
    }
}

.sub-heading{
    font-size: 1.125rem;
    line-height: 1.875rem;
}

.btn{
    font-size: 1rem;
    font-weight: 600;
    font-weight: 700;
    border: 0;
    transition: .35s ease-in-out;

    &.btn-sm{
        font-size: .875rem;
        padding: 9px 18px;
        border-radius: 5px;

        > span{
            margin-left: 7px;
        }
    }

    &.btn-lg{
        padding: 17px 30px;
        border-radius: 8px;
    }

    &.btn-primary{
        background: $primary-color;

        &:hover{
            background: darken($primary-color, 5%);
        }
    }

    &.btn-success{
        background: $accent-color;

        &:hover{
            background: darken($accent-color, 5%);
        }
    }

    &.btn-light{
        background: $bg-light-3;
        color: $text-color-dark;

        &:hover{
            background: darken($bg-light-3, 5%);
        }
    }

    &.btn-lng{
        padding: 10px;

        > img{
            width: 20px;
            margin-right: 10px;
        }
    }
}

.dropdown-btn-outer{
    display: inline-block;
    position: relative;

    > ul{
        width: 200px;
        background: #fff;
        border-radius: 8px;
        padding-left: 0;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-bottom: 0;
        opacity: 0;
        visibility: hidden;
        position: absolute;
        box-shadow: 0 0 5px rgba(#000, .1);
        transition: .35s ease-in-out;

        > li{
            display: flex;

            > a{
                width: 100%;
                padding: 13px 18px;
                display: flex;
                text-decoration: none;
                color: $text-color-dark;
                background: #fff;
                transition: .35s ease-in-out;

                > img{
                    width: 20px;
                    border-radius: 3px;
                    align-self: flex-start;
                    margin-right: 10px;
                    position: relative;
                    top: 5px;
                }

                &:hover{
                    background: $bg-light-2;
                }
            }
        }
    }

    &.left-dropdown{
        > ul{
            left: 0;
        }
    }

    &.right-dropdown{
        > ul{
            right: 0;
        }
    }

    &:hover{
        > ul{
            opacity: 1;
            visibility: visible;
        }
    }
}

.wp-card-account{
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 60px;
}

.card-account{
    max-width: 370px;
    background: #fff;
    border-radius: 15px;
    text-align: center;
    display: block;
    position: relative;

    > .label-card{
        font-size: .875rem;
        font-weight: 600;
        line-height: 1.3125rem;
        padding: 6px 10px;
        border-radius: 5px;
        color: #fff;
        display: block;
        position: absolute;
        top: -15px;
        left: 50%;
        transform: translateX(-50%);
    }

    > .title-card{
        background: $bg-light-2;
        padding-top: 45px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 15px 15px 0 0;

        > .frame-icon{
            width: 100px;
            height: 100px;
            background: #fff;
            border-radius: 50%;
            margin-bottom: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        > h2{
            margin-bottom: 25px;
            font-weight: 700;
            color: $text-color-dark;
        }
    }

    > .desc-card{
        padding: 45px 35px;

        > ul{
            padding-left: 0;
            margin-bottom: 0;

            > li{
                display: block;
                margin-bottom: 16px;
                font-weight: 500;
                color: $text-color;

                &:last-child{
                    margin-bottom: 0;
                }
            }
        }
    }

    &.micro{
        > .label-card{
            background: #F1C012;
        }

        > .title-card{
            > .frame-icon{
                > img{
                    width: 50px;
                }
            }
        }
    }

    &.premium{
        > .label-card{
            background: #1367C9;
        }

        > .title-card{
            > .frame-icon{
                > img{
                    width: 70px;
                }
            }
        }
    }

    &.pro{
        > .label-card{
            background: #F11F12;
        }

        > .title-card{
            > .frame-icon{
                > img{
                    width: 60px;
                }
            }
        }
    }

    &.zulu-trade{
        > .label-card{
            background: #E89029;
        }

        > .title-card{
            > .frame-icon{
                > img{
                    width: 50px;
                }
            }
        }
    }

    &.crypto{
        > .label-card{
            background: #80D459;
        }

        > .title-card{
            > .frame-icon{
                > img{
                    width: 50px;
                }
            }
        }
    }
}

.card-thumb-1{
    height: 100%;
    text-align: center;
    background: $bg-light-3;
    border-radius: 15px;
    padding: 50px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;

    > .frame-icon{
        width: 120px;
        height: 120px;
        border-radius: 50%;
        background: $bg-light-1;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 29px;
    }

    > h4{
        font-weight: 1.5rem;
        line-height: 2rem;
        font-weight: 700;
        margin-bottom: 18px;
    }

    > p{
        margin-bottom: 0;
    }
}

.card-offer{
    background: $bg-light-3;
    border-radius: 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid $bg-light-1;
    position: relative;
    
    > .label-card{
        background: $primary-color;
        color: #fff;
        font-size: .875rem;
        font-weight: 700;
        line-height: 1.3125rem;
        padding: 6px 10px;
        border-radius: 5px;
        position: absolute;
        top: -16px;
        left: 60px;
    }

    > .side-top{
        padding-top: 60px;
        padding-left: 60px;
        padding-right: 60px;

        > h2{
            font-size: 2.25rem;
            line-height: 3.375rem;
            font-weight: 700;
            margin-bottom: 30px;
        }

        > p{
            margin-bottom: 50px;
        }

        > ul{
            padding-left: 0;
            margin-bottom: 70px;
            list-style: none;
            display: flex;
            flex-direction: column;

            > li{
                margin-bottom: 20px;
                color: $text-color;
                display: flex;

                > .fas{
                    color: $primary-color;
                    margin-right: 18px;
                }

                > span{
                    font-weight: 600;
                    position: relative;
                    top: -5px;
                }

                &:last-child{
                    margin-bottom: 0;
                }
            }
        }
    }

    > .side-bottom{
        display: block;
        padding: 44px 60px 24px 60px;
        background: $bg-light-1;
        border-radius: 20px;

        > .btn{
            margin-right: 20px;

            > img{
                width: 17px;
            }
        }
    }
}

.card-thumb-2{
    background: #fff;
    text-align: center;
    border-radius: 15px;
    padding: 60px 45px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    > img{
        width: 60px;
        margin-bottom: 33px;
    }

    > h4{
        font-size: 1.625rem;
        line-height: 2.4375rem;
        margin-bottom: 8px;
        font-weight: 700;
    }

    > p{
        margin-bottom: 0;
    }
}

@media(max-width: 991px){
    .group-heading-slider{
        margin-bottom: 0;

        > .main-heading{
            margin-bottom: 60px;
        }

        > .group-meta{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 15px;
            position: relative;

            > .clue-slide, 
            > .count-slide-event,
            > .count-slide-blog{
                position: static;
                transform: translateY(0);
            }
        }
    }
}

@media(max-width: 575px){
    .card-offer{
        > .side-top{
            padding-top: 30px;
            padding-left: 30px;
            padding-right: 30px;

            > ul{
                margin-bottom: 40px;
            }

            > h2{
                font-size: 1.75rem;
                margin-bottom: 10px;
            }

            > p{
                margin-bottom: 40px;
            }
        }

        > .side-bottom{
            padding-left: 30px;
            padding-right: 30px;
        }
    }
}
