//footer
footer.footer
    .group-menu-footer
        .container
            .list-menu-footer
                h6 Perusahaan
                ul
                    li
                        a(href="#") Tentang Kami
                    li
                        a(href="#") Informasi Legal
                    li
                        a(href="#") Berita
                    li
                        a(href="#") Dukungan Pelanggan
                    li
                        a(href="#") Mitra
            .list-menu-footer
                h6 Trading
                ul
                    li
                        a(href="#") Tipe Akun
                    li
                        a(href="#") Instrument Trading
                    li
                        a(href="#") Deposit dan Penarikan
                    li
                        a(href="#") Platform
            .list-menu-footer
                h6 Robot Trading
                ul
                    li
                        a(href="#") Sinyal MQL5
                    li
                        a(href="#") Sinyal Zulutrade
                    li
                        a(href="#") Robot dan Indikator
            .list-menu-footer
                h6 Alat
                ul
                    li
                        a(href="#") Saham CFDs
                    li
                        a(href="#") Kalkulator Perdagangan
                    li
                        a(href="#") Kalender Ekonomi
                    li
                        a(href="#") Akun Demo
                    li
                        a(href="#") Pelatihan dan Seminar
                    li
                        a(href="#") Panduan MetaTrader
            .list-menu-footer
                h6 Promosi
                ul
                    li
                        a(href="#") STOCK BATTLE CONTEST
                    li
                        a(href="#") WORLD PARTNER CONTEST 2021
                    li
                        a(href="#") TRADE2WIN
                    li
                        a(href="#") ASTROCARDS
                    li
                        a(href="#") SPINNER
                    li
                        a(href="#") Bonus 100%
                    li
                        a(href="#") Tanpa-Komisi Deposit
                    li
                        a(href="#") CASH PUZZLE
    .main-footer
        .container
            .row
                .col-lg-3.side-left
                    h6 Kontak
                    ul.contact-footer
                        li
                            |
                            |
                            i.fas.fa-envelope
                            |
                            |
                            span info@weltrade.com
                        li
                            |
                            |
                            i.fas.fa-phone-alt
                            |
                            |
                            span +44-20-34116458
                        li
                            |
                            |
                            i.fab.fa-facebook-f
                            |
                            |
                            span Weltrade.com
                    .list-img
                        |
                        |
                        img(src="images/visa.png" alt="")
                        |
                        |
                        img(src="images/mastercard.png" alt="")
                .col-lg-9.side-right
                    h6 Kantor Pusat
                    p Layanan di Situs Web disediakan dan diatur oleh Systemgates Ltd, sebuah perusahaan yang didirikan di Saint Vincent dan Grenadines dengan nomor perusahaan 24513 IBC 2018 dengan alamat terdaftar di unit Suite 305, Griffith Corporate Center, PO BOX 1510, Beachmont, Kingstown, Saint Vincent dan Grenadines. Perusahaan diatur oleh hukum Saint Vincent dan Grenadines. Perusahaan Rekanan Sofiante LP dengan nomor reg. perusahaan LP1881 menyediakan konten dan menjalankan bisnis, dengan alamat pendaftarannya di Office 29, Clifton House, Fitzwilliam Street Lower, Dublin 2, Dublin, Republik Irlandia.
                    p Not for residents of the USA, Canada and Russia.
    .copyright
        .container
            |
            |
            span &copy; 2006-2021 Systemgates Ltd. Hak cipta dilindungi.
            ul
                li
                    a(href="#") Ketentuan Pengguna
                li
                    a(href="#") Kebijakan Pribadi
                li
                    a(href="#") Pengungkapan resiko 
                li
                    a(href="#") Kebijakan AML
///footer
|
|
|