|
|
|
//header
header.header
    //top header
    .top-header
        .container
            //menu left
            ul.group-menu
                li
                    |
                    |
                    a(href="#")
                        |
                        |
                        i.fas.fa-cloud
                        |
                        |
                        span Web Flatform
                        |
                        |
                li
                    |
                    |
                    a(href="#")
                        |
                        |
                        i.fas.fa-phone-alt
                        |
                        |
                        span Telepon Kami
                        |
                        |
                    |
                    |
            ///menu left
            |
            |
            |
            //group button
            .group-button
                |
                |
                a.btn.btn-sm.btn-light(href="#")
                    |
                    |
                    i.fas.fa-sign-in-alt
                    |
                    |
                    span Login
                    |
                    |
                |
                |
                a.btn.btn-sm.btn-success(href="#")
                    |
                    |
                    i.fas.fa-user-plus
                    |
                    |
                    span Daftar
                    |
                    |
                |
                |
                .dropdown-btn-outer.right-dropdown
                    |
                    |
                    a.btn.btn-sm.btn-light.btn-lng.right-dropdown(href="#")
                        |
                        |
                        img(src="images/flag-ind.jpg" alt="")
                        |
                        |
                        i.fas.fa-angle-down
                        |
                        |
                    ul
                        li
                            |
                            |
                            a(href="#")
                                |
                                |
                                img(src="images/flag-en.jpg" alt="")
                                |
                                |
                                span English
                                |
                                |
                        li
                            |
                            |
                            a(href="#")
                                |
                                |
                                img(src="images/flag-ind.jpg" alt="")
                                |
                                |
                                span Indonesia
                                |
                                |
            ///group button
    ///top header
    |
    |
    |
    //main header
    .main-header
        .container
            //logo header
            |
            |
            a.logo-header(href="#")
                |
                |
                img(src="images/logo-weltrade.jpg" alt="")
                |
                |
            ///logo header
            |
            |
            |
            //main nav
            nav.main-nav
                .btn-nav-mobile
                    |
                    |
                    span
                    |
                    |
                    span
                    |
                    |
                    span
                    |
                    |
                ul
                    li.header-menu-mobile
                        .group-btn
                            |
                            |
                            a.btn.btn-light.btn-sm(href="#")
                                |
                                |
                                i.fas.fa-sign-in-alt
                                |
                                |
                                span Login
                                |
                                |
                            |
                            |
                            a.btn.btn-success.btn-sm(href="#")
                                |
                                |
                                i.fas.fa-user-plus
                                |
                                |
                                span Daftar
                                |
                                |
                            .dropdown-btn-outer.right-dropdown
                                |
                                |
                                a.btn.btn-sm.btn-light.btn-lng.right-dropdown(href="#")
                                    |
                                    |
                                    img(src="images/flag-ind.jpg" alt="")
                                    |
                                    |
                                    i.fas.fa-angle-down
                                    |
                                    |
                                ul
                                    li
                                        |
                                        |
                                        a(href="#")
                                            |
                                            |
                                            img(src="images/flag-en.jpg" alt="")
                                            |
                                            |
                                            span English
                                            |
                                            |
                                    li
                                        |
                                        |
                                        a(href="#")
                                            |
                                            |
                                            img(src="images/flag-ind.jpg" alt="")
                                            |
                                            |
                                            span Indonesia
                                            |
                                            |
                        a.button-close-nav(href="#")
                            |
                            |
                            span
                            |
                            |
                            span
                            |
                            |
                    li.megamenu
                        |
                        |
                        a(href="#")
                            |
                            |
                            span Trading
                            |
                            |
                            i.fas.fa-angle-down
                            |
                            |
                        .megamenu-content
                            .container
                                .row
                                    .col-lg-6.side-promo
                                        .side-promo-inner
                                            |
                                            |
                                            img(src="images/stock-battle-banner-img.jpg" alt="")
                                            .text-promo
                                                |
                                                |
                                                span.label-promo Demo Contest
                                                |
                                                |
                                                h1 Stock Battle
                                                |
                                                |
                                                a.btn.btn-success.btn-sm(href="#") Daftar Sekarang 
                                    .col-lg-6.side-menu
                                        .row
                                            .col-lg-6
                                                .group-menu
                                                    h4 Trading
                                                    ul
                                                        li
                                                            a(href="#") Tipe Akun
                                                        li
                                                            a(href="#") Instrument Perdagangan
                                                        li
                                                            a(href="#") Deposit dan Penarikan
                                                        li
                                                            a(href="#") Platform
                                            .col-lg-6
                                                .group-menu
                                                    h4 Kebijakan
                                                    ul
                                                        li
                                                            a(href="#") Ketentuan Pengguna
                                                        li
                                                            a(href="#") Kebijakan Pribadi
                                                        li
                                                            a(href="#") Pengungkapan Resiko
                                                        li
                                                            a(href="#") Kebijakan AML
                    li.megamenu
                        |
                        |
                        a(href="#")
                            |
                            |
                            span Edukasi
                            |
                            |
                            i.fas.fa-angle-down
                            |
                            |
                    li.megamenu
                        |
                        |
                        a(href="#")
                            |
                            |
                            span jadi IB
                            |
                            |
                            i.fas.fa-angle-down
                            |
                            |
                    li.megamenu
                        |
                        |
                        a(href="#")
                            |
                            |
                            span Promosi
                            |
                            |
                            i.fas.fa-angle-down
                            |
                            |
                    li.megamenu
                        |
                        |
                        a(href="#")
                            |
                            |
                            span Perusahaan
                            |
                            |
                            i.fas.fa-angle-down
                            |
                            |
                    li.menu-mobile
                        |
                        |
                        a(href="#") Web Platform
                        |
                        |
                    li.menu-mobile
                        |
                        |
                        a(href="#") Telepon Kami
                        |
                        |
///header
|
|
|