//hero banner
section.hero-banner.owl-carousel
    .item-slider
        .container
            .row
                .col-lg-5.order-lg-2.side-text
                    .side-text-inner
                        |
                        |
                        span.label-title-banner Demo Contest
                        h1.title-banner Stock Battle
                        p.desc-banner Ayo raih Hadiah $100.000 dalam Demo Contest Stock Battle. Dapatkan lebih banyak pengalaman dalam trading.
                        |
                        |
                        a.btn.btn-success.btn-lg(href="#") Daftar Sekarang
                .col-lg-7.order-lg-1.side-img
                    |
                    |
                    img(src="images/stock-battle-banner-img.jpg" alt="")
    |
    |
    .item-slider
        .container
            .row
                .col-lg-5.order-lg-2.side-text
                    .side-text-inner
                        |
                        |
                        h1.title-banner Trading Mata Uang Kripto
                        p.desc-banner Tingkatkan trading Anda ke level berikutnya dengan komisi 0% pada trading.
                        |
                        |
                        a.btn.btn-success.btn-lg(href="#") Daftar Sekarang
                .col-lg-7.order-lg-1.side-img
                    |
                    |
                    img(src="images/trading-mata-uang-white.jpg" alt="")
    ///hero banner