html,
body {
  font-family: "Poppins", sans-serif;
}

p {
  color: #6B7A9C;
  line-height: 1.625rem;
}

span {
  line-height: 1.625rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #374365;
}

header.header {
  width: 100%;
  background: #fff;
  -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  -webkit-transition: 0.35s ease-in-out;
  -o-transition: 0.35s ease-in-out;
  transition: 0.35s ease-in-out;
}

header.header > .top-header {
  padding: 10px 0;
  border-bottom: 1px solid #F3F3F3;
  position: relative;
  z-index: 10;
}

header.header > .top-header > .container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

header.header > .top-header > .container > ul.group-menu {
  padding-left: 0;
  margin-bottom: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

header.header > .top-header > .container > ul.group-menu > li {
  margin-right: 35px;
}

header.header > .top-header > .container > ul.group-menu > li > a {
  font-size: 14px;
  text-decoration: none;
  color: #374365;
}

header.header > .top-header > .container > ul.group-menu > li > a > span {
  margin-left: 7px;
  font-weight: 500;
}

header.header > .top-header > .container > ul.group-menu > li:last-child {
  margin-right: 0;
}

header.header > .top-header > .container > .group-button > a {
  margin-right: 10px;
}

header.header > .top-header > .container > .group-button > a:last-child {
  margin-right: 0;
}

header.header > .main-header {
  position: relative;
}

header.header > .main-header > .container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 29px;
  padding-bottom: 29px;
  -webkit-transition: 0.35s ease-in-out;
  -o-transition: 0.35s ease-in-out;
  transition: 0.35s ease-in-out;
}

header.header > .main-header > .container > .logo-header {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  -webkit-transform-origin: left center;
  -ms-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
  -webkit-transition: 0.35s ease-in-out;
  -o-transition: 0.35s ease-in-out;
  transition: 0.35s ease-in-out;
}

header.header > .main-header > .container > .logo-header > img {
  width: 203px;
}

header.header > .main-header > .container > .main-nav > .btn-nav-mobile {
  display: none;
}

header.header > .main-header > .container > .main-nav > ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}

header.header > .main-header > .container > .main-nav > ul > li {
  margin-right: 35px;
}

header.header > .main-header > .container > .main-nav > ul > li > a {
  font-weight: 700;
  text-decoration: none;
  color: #374365;
  -webkit-transition: ease-in-out;
  -o-transition: ease-in-out;
  transition: ease-in-out;
}

header.header > .main-header > .container > .main-nav > ul > li > a:hover {
  color: #1367C9;
}

header.header > .main-header > .container > .main-nav > ul > li.header-menu-mobile {
  display: none;
}

header.header > .main-header > .container > .main-nav > ul > li.megamenu > a > span {
  margin-right: 5px;
}

header.header > .main-header > .container > .main-nav > ul > li.megamenu > .megamenu-content {
  background: #fff;
  width: 100%;
  margin-top: 37px;
  display: none;
  position: absolute;
  left: 0;
  -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.05);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.05);
}

header.header > .main-header > .container > .main-nav > ul > li.megamenu > .megamenu-content:before {
  content: " ";
  width: 300px;
  height: 100%;
  background: #F8FBFF;
  position: absolute;
  top: 0;
  right: 0;
}

header.header > .main-header > .container > .main-nav > ul > li.megamenu > .megamenu-content .side-promo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

header.header > .main-header > .container > .main-nav > ul > li.megamenu > .megamenu-content .side-promo > .side-promo-inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 14px;
  padding-bottom: 14px;
}

header.header > .main-header > .container > .main-nav > ul > li.megamenu > .megamenu-content .side-promo > .side-promo-inner > img {
  width: 274px;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin-right: 20px;
}

header.header > .main-header > .container > .main-nav > ul > li.megamenu > .megamenu-content .side-promo > .side-promo-inner > .text-promo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

header.header > .main-header > .container > .main-nav > ul > li.megamenu > .megamenu-content .side-promo > .side-promo-inner > .text-promo > .label-promo {
  color: #1367C9;
  font-weight: 700;
  margin-bottom: 5px;
}

header.header > .main-header > .container > .main-nav > ul > li.megamenu > .megamenu-content .side-promo > .side-promo-inner > .text-promo > h1 {
  font-weight: 700;
  margin-bottom: 20px;
}

header.header > .main-header > .container > .main-nav > ul > li.megamenu > .megamenu-content .side-promo > .side-promo-inner > .text-promo > .btn {
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
}

header.header > .main-header > .container > .main-nav > ul > li.megamenu > .megamenu-content .side-menu {
  background: #F8FBFF;
}

header.header > .main-header > .container > .main-nav > ul > li.megamenu > .megamenu-content .side-menu .group-menu {
  padding-left: 30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-top: 40px;
  padding-bottom: 40px;
  position: relative;
}

header.header > .main-header > .container > .main-nav > ul > li.megamenu > .megamenu-content .side-menu .group-menu > h4 {
  color: #1367C9;
  font-weight: 700;
  margin-bottom: 20px;
}

header.header > .main-header > .container > .main-nav > ul > li.megamenu > .megamenu-content .side-menu .group-menu > ul {
  padding-left: 0;
  margin-bottom: 0;
}

header.header > .main-header > .container > .main-nav > ul > li.megamenu > .megamenu-content .side-menu .group-menu > ul > li {
  display: block;
  margin-bottom: 15px;
}

header.header > .main-header > .container > .main-nav > ul > li.megamenu > .megamenu-content .side-menu .group-menu > ul > li > a {
  color: #374365;
  font-weight: 500;
  text-decoration: none;
  -webkit-transition: 0.35s ease-in-out;
  -o-transition: 0.35s ease-in-out;
  transition: 0.35s ease-in-out;
}

header.header > .main-header > .container > .main-nav > ul > li.megamenu > .megamenu-content .side-menu .group-menu > ul > li > a:hover {
  color: #1367C9;
}

header.header > .main-header > .container > .main-nav > ul > li.megamenu > .megamenu-content .side-menu .group-menu > ul > li:last-child {
  margin-bottom: 0;
}

header.header > .main-header > .container > .main-nav > ul > li.menu-mobile {
  display: none;
}

header.header > .main-header > .container > .main-nav > ul > li:last-child {
  margin-right: 0;
}

header.header.hide-top-header {
  top: -65px;
}

header.header.hide-top-header > .main-header > .container {
  padding-top: 15px;
  padding-bottom: 15px;
}

header.header.hide-top-header > .main-header > .container > .logo-header {
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -o-transform: scale(0.8);
  transform: scale(0.8);
}

header.header.hide-top-header > .main-header > .container > .main-nav > ul > li.megamenu > .megamenu-content {
  margin-top: 23px;
}

.hero-banner {
  display: block;
  margin-top: 165px;
}

.hero-banner .item-slider {
  height: 800px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.hero-banner .item-slider .side-img > img {
  width: 95%;
}

.hero-banner .item-slider .side-text {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.hero-banner .item-slider .side-text .side-text-inner {
  width: 452px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.hero-banner .item-slider .side-text .side-text-inner > .label-title-banner {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.875rem;
  display: block;
  margin-bottom: 15px;
  color: #1367C9;
}

.hero-banner .item-slider .side-text .side-text-inner > .title-banner {
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.1;
  margin-bottom: 15px;
}

.hero-banner .item-slider .side-text .side-text-inner > .desc-banner {
  font-size: 1.125rem;
  line-height: 1.875rem;
  margin-bottom: 36px;
}

.hero-banner .item-slider .side-text .side-text-inner > .btn {
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
}

.hero-banner .owl-nav {
  width: 100%;
  height: 0;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

.hero-banner .owl-nav > .owl-prev,
.hero-banner .owl-nav > .owl-next {
  width: 50px;
  height: 50px;
  background: #fff;
  color: #374365;
  border-radius: 6px;
  -webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: 0.35s ease-in-out;
  -o-transition: 0.35s ease-in-out;
  transition: 0.35s ease-in-out;
}

.hero-banner .owl-nav > .owl-prev:hover,
.hero-banner .owl-nav > .owl-next:hover {
  background: #3EC25F;
  color: #fff;
}

.hero-banner .owl-nav > .owl-prev {
  left: 30px;
}

.hero-banner .owl-nav > .owl-next {
  right: 30px;
}

.hero-banner .owl-dots {
  position: absolute;
  left: 50%;
  bottom: 30px;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}

.hero-banner .owl-dots .owl-dot {
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background: #E8F1FE;
  margin-right: 10px;
  -webkit-transition: 0.35s ease-in-out;
  -o-transition: 0.35s ease-in-out;
  transition: 0.35s ease-in-out;
}

.hero-banner .owl-dots .owl-dot:last-child {
  margin-right: 0;
}

.hero-banner .owl-dots .owl-dot.active {
  width: 24px;
  background: #3EC25F;
}

section.instrument-trading {
  background: #20293F;
  padding: 130px 0;
}

section.instrument-trading .row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

section.instrument-trading .row > .side-text > .main-heading {
  color: #fff;
  margin-bottom: 26px;
}

section.instrument-trading .row > .side-text > p {
  font-size: 1.375rem;
  line-height: 2.375rem;
  margin-bottom: 43px;
  color: #B1C4EF;
}

section.instrument-trading .row > .side-text > .group-btn > .btn {
  margin-right: 20px;
}

section.instrument-trading .row > .side-text > .group-btn > .btn:last-child {
  margin-right: 0;
}

section.instrument-trading .row > .side-img {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

section.instrument-trading .row > .side-img > img {
  max-width: 526px;
}

section.account-type {
  padding-top: 120px;
  padding-bottom: 130px;
  background: #F8FBFF;
}

section.account-type > .main-heading,
section.account-type > .sub-heading {
  text-align: center;
}

section.account-type > .main-heading {
  margin-bottom: 6px;
}

section.account-type > .sub-heading {
  margin-bottom: 89px;
}

section.account-type > .container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

section.account-type .group-btn {
  display: block;
  margin-top: 20px;
  text-align: center;
}

section.account-type .group-btn > .btn {
  margin-right: 20px;
}

section.account-type .group-btn > .btn:last-child {
  margin-right: 0;
}

section.count {
  padding: 100px 0;
  background: #20293F;
}

section.count .count-list {
  text-align: center;
}

section.count .count-list > h1 {
  background: -webkit-linear-gradient(#1367C9, #6BBBFF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 3.4375rem;
  font-weight: 600;
}

section.count .count-list > h1 > span {
  display: inline-block;
  margin-left: -5px;
  margin-right: -5px;
}

section.count .count-list > span {
  color: #B1C4EF;
  display: block;
  padding: 0 72px;
}

section.transaction {
  padding: 130px 0;
  background: #F8FBFF;
}

section.transaction .side-text {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

section.transaction .side-text > .main-heading {
  margin-bottom: 25px;
}

section.transaction .side-text > p {
  margin-bottom: 50px;
}

section.transaction .side-text > .btn {
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
}

section.transaction .list-logo .thumb-logo {
  width: 100%;
  height: 120px;
  background: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 10px;
}

section.transaction .list-logo .thumb-logo.bca > img {
  width: 120px;
}

section.transaction .list-logo .thumb-logo.bri > img {
  width: 135px;
}

section.transaction .list-logo .thumb-logo.bni > img {
  width: 120px;
}

section.transaction .list-logo .thumb-logo.local-bank > img {
  width: 145px;
}

section.transaction .list-logo .thumb-logo.fasapay > img {
  width: 140px;
}

section.transaction .list-logo .thumb-logo.skrill > img {
  width: 120px;
}

section.transaction .list-logo .thumb-logo.neteller > img {
  width: 135px;
}

section.transaction .list-logo .thumb-logo.perfect-money > img {
  width: 140px;
}

section.transaction .list-logo .thumb-logo.crypto-currency > img {
  width: 143px;
}

section.security-fund {
  padding-top: 120px;
  padding-bottom: 130px;
}

section.security-fund .main-heading,
section.security-fund .sub-heading {
  text-align: center;
}

section.security-fund .sub-heading {
  margin-bottom: 65px;
}

section.security-fund .block-btn {
  margin-top: 70px;
}

section.platform-trading {
  padding-top: 60px;
  padding-bottom: 130px;
}

section.platform-trading .main-heading {
  text-align: center;
  margin-bottom: 70px;
}

section.crypto-trading {
  padding: 130px 0;
  background: #20293F;
  overflow: hidden;
  position: relative;
}

section.crypto-trading > .ornament {
  position: absolute;
  z-index: 2;
}

section.crypto-trading > .ornament:first-child {
  top: -160px;
  left: -113px;
}

section.crypto-trading > .ornament:nth-child(2) {
  top: 81px;
  right: 10.5%;
}

section.crypto-trading > .ornament:nth-child(3) {
  right: 25%;
  bottom: -200px;
}

section.crypto-trading > .container {
  position: relative;
}

section.crypto-trading .side-img > img {
  width: 100%;
}

section.crypto-trading .side-text {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
  z-index: 10;
}

section.crypto-trading .side-text > h1 {
  font-size: 4rem;
  line-height: 5rem;
  font-weight: 700;
  color: #fff;
  margin-bottom: 26px;
}

section.crypto-trading .side-text > h1 > span:last-child {
  color: #3EC25F;
}

section.crypto-trading .side-text > p {
  max-width: 429px;
  font-size: 1.5rem;
  line-height: 2.375rem;
  color: #fff;
  margin-bottom: 48px;
}

section.crypto-trading .side-text > .btn {
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
}

section.feature-1 {
  padding: 130px 0;
}

section.feature-1 .side-img > img {
  width: 100%;
}

section.feature-1 .side-text {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

section.feature-1 .side-text .main-heading {
  margin-bottom: 42px;
}

section.feature-1 .side-text ul {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

section.feature-1 .side-text ul > li {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
}

section.feature-1 .side-text ul > li > .icon-frame {
  width: 60px;
  height: 60px;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  background: #374365;
  border-radius: 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  margin-right: 25px;
  position: relative;
  top: 7px;
}

section.feature-1 .side-text ul > li > .icon-frame > img {
  width: 45px;
}

section.feature-1 .side-text ul > li > .text-list > h4 {
  font-size: 1.625rem;
  font-weight: 700;
  line-height: 2rem;
  margin-bottom: 10px;
}

section.feature-1 .side-text ul > li > .text-list > p {
  margin-bottom: 0;
}

section.feature-1 .side-text ul > li:last-child {
  margin-bottom: 0;
}

section.feature-2 {
  padding-top: 120px;
  padding-bottom: 130px;
  background: #F8FBFF;
}

section.feature-2 .main-heading {
  text-align: center;
  margin-bottom: 70px;
}

section.education {
  padding-top: 120px;
  padding-bottom: 130px;
}

section.education .slider-education .slider-item {
  background: #F8FBFF;
  border-radius: 15px;
}

section.education .slider-education .slider-item > img {
  border-radius: 15px;
  display: block;
}

section.education .slider-education .slider-item > .text-slider {
  display: block;
  padding: 25px 35px 30px 35px;
}

section.education .slider-education .slider-item > .text-slider > a {
  display: block;
  font-size: 1.5rem;
  font-weight: 700;
  color: #374365;
  text-decoration: none;
  margin-bottom: 10px;
  -webkit-transition: 0.35s ease-in-out;
  -o-transition: 0.35s ease-in-out;
  transition: 0.35s ease-in-out;
}

section.education .slider-education .slider-item > .text-slider > p {
  margin-bottom: 13px;
}

section.education .slider-education .slider-item > .text-slider > .block-meta {
  display: block;
}

section.education .slider-education .slider-item > .text-slider > .block-meta > .list-meta {
  font-size: 0.875rem;
  font-weight: 500;
  color: #a8b1c5;
  display: inline-block;
}

section.education .slider-education .slider-item > .text-slider > .block-meta > .list-meta > span {
  margin-left: 8px;
}

section.event-gallery {
  background: #F8FBFF;
  padding-top: 120px;
  padding-bottom: 130px;
}

section.event-gallery .slider-event .owl-stage {
  padding-top: 30px;
  padding-bottom: 30px;
}

section.event-gallery .slider-event .owl-item {
  -webkit-transition: 0.35s ease-in-out;
  -o-transition: 0.35s ease-in-out;
  transition: 0.35s ease-in-out;
}

section.event-gallery .slider-event .owl-item > .slider-item {
  display: block;
  text-decoration: none;
}

section.event-gallery .slider-event .owl-item > .slider-item > .group-img {
  border-radius: 15px;
  overflow: hidden;
  margin-bottom: 20px;
  position: relative;
}

section.event-gallery .slider-event .owl-item > .slider-item > .group-img:before {
  content: " ";
  width: 100%;
  height: 100%;
  background: rgba(55, 67, 101, 0.85);
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: 0.35s ease-in-out;
  -o-transition: 0.35s ease-in-out;
  transition: 0.35s ease-in-out;
}

section.event-gallery .slider-event .owl-item > .slider-item > .group-img > img:last-child {
  width: 35px;
  opacity: 0;
  position: absolute;
  top: 60%;
  left: 50%;
  z-index: 2;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: 0.35s ease-in-out;
  -o-transition: 0.35s ease-in-out;
  transition: 0.35s ease-in-out;
}

section.event-gallery .slider-event .owl-item > .slider-item > .title-slider {
  text-align: center;
  color: #374365;
  font-weight: 600;
  opacity: 0;
  -webkit-transition: 0.35s ease-in-out;
  -o-transition: 0.35s ease-in-out;
  transition: 0.35s ease-in-out;
}

section.event-gallery .slider-event .owl-item > .slider-item:hover > .group-img:before {
  opacity: 1;
}

section.event-gallery .slider-event .owl-item > .slider-item:hover > .group-img > img:last-child {
  opacity: 1;
  top: 50%;
}

section.event-gallery .slider-event .owl-item > .slider-item:hover > .title-slider {
  opacity: 1;
}

section.event-gallery .slider-event .owl-item.center {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}

section.event-gallery .slider-event .owl-item.center > .group-img {
  border-radius: 20px;
}

section.achievement {
  background: #323E5E;
  padding-top: 120px;
  padding-bottom: 130px;
}

section.achievement .main-heading {
  text-align: center;
  color: #fff;
  margin-bottom: 70px;
}

section.achievement .thumb-achieve {
  text-align: center;
}

section.achievement .thumb-achieve > .thumb-ribbon {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 21px;
  position: relative;
}

section.achievement .thumb-achieve > .thumb-ribbon > img {
  width: 150px;
}

section.achievement .thumb-achieve > .thumb-ribbon > span {
  font-size: 1.875rem;
  font-weight: 700;
  color: #F1C012;
  position: absolute;
}

section.achievement .thumb-achieve > span {
  width: 138px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.625rem;
  color: #fff;
}

.main-heading.lg {
  font-size: 3rem;
  font-weight: 700;
  line-height: 3.875rem;
}

.main-heading.sm {
  font-size: 2.625rem;
  font-weight: 700;
  line-height: 3.25rem;
}

.group-heading-slider {
  display: block;
  text-align: center;
  margin-bottom: 70px;
  position: relative;
}

.group-heading-slider > .main-heading {
  margin-bottom: 0;
}

.group-heading-slider > .group-meta {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.group-heading-slider > .group-meta > .clue-slide,
.group-heading-slider > .group-meta > .count-slide-event,
.group-heading-slider > .group-meta > .count-slide-blog {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

.group-heading-slider > .group-meta > .clue-slide {
  width: 209px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
  line-height: 1.5rem;
  color: #6B7A9C;
  left: 0;
}

.group-heading-slider > .group-meta > .clue-slide > img {
  width: 37px;
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  margin-right: 10px;
  position: relative;
  top: 9px;
}

.group-heading-slider > .group-meta > .count-slide-event,
.group-heading-slider > .group-meta > .count-slide-blog {
  font-size: 1.5rem;
  font-weight: 600;
  color: #6B7A9C;
  right: 0;
}

.sub-heading {
  font-size: 1.125rem;
  line-height: 1.875rem;
}

.btn {
  font-size: 1rem;
  font-weight: 600;
  font-weight: 700;
  border: 0;
  -webkit-transition: 0.35s ease-in-out;
  -o-transition: 0.35s ease-in-out;
  transition: 0.35s ease-in-out;
}

.btn.btn-sm {
  font-size: 0.875rem;
  padding: 9px 18px;
  border-radius: 5px;
}

.btn.btn-sm > span {
  margin-left: 7px;
}

.btn.btn-lg {
  padding: 17px 30px;
  border-radius: 8px;
}

.btn.btn-primary {
  background: #1367C9;
}

.btn.btn-primary:hover {
  background: #115bb2;
}

.btn.btn-success {
  background: #3EC25F;
}

.btn.btn-success:hover {
  background: #37af55;
}

.btn.btn-light {
  background: #F8FBFF;
  color: #374365;
}

.btn.btn-light:hover {
  background: #dfecff;
}

.btn.btn-lng {
  padding: 10px;
}

.btn.btn-lng > img {
  width: 20px;
  margin-right: 10px;
}

.dropdown-btn-outer {
  display: inline-block;
  position: relative;
}

.dropdown-btn-outer > ul {
  width: 200px;
  background: #fff;
  border-radius: 8px;
  padding-left: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 0;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  -webkit-transition: 0.35s ease-in-out;
  -o-transition: 0.35s ease-in-out;
  transition: 0.35s ease-in-out;
}

.dropdown-btn-outer > ul > li {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.dropdown-btn-outer > ul > li > a {
  width: 100%;
  padding: 13px 18px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  color: #374365;
  background: #fff;
  -webkit-transition: 0.35s ease-in-out;
  -o-transition: 0.35s ease-in-out;
  transition: 0.35s ease-in-out;
}

.dropdown-btn-outer > ul > li > a > img {
  width: 20px;
  border-radius: 3px;
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  margin-right: 10px;
  position: relative;
  top: 5px;
}

.dropdown-btn-outer > ul > li > a:hover {
  background: #F0F6FF;
}

.dropdown-btn-outer.left-dropdown > ul {
  left: 0;
}

.dropdown-btn-outer.right-dropdown > ul {
  right: 0;
}

.dropdown-btn-outer:hover > ul {
  opacity: 1;
  visibility: visible;
}

.wp-card-account {
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 60px;
}

.card-account {
  max-width: 370px;
  background: #fff;
  border-radius: 15px;
  text-align: center;
  display: block;
  position: relative;
}

.card-account > .label-card {
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.3125rem;
  padding: 6px 10px;
  border-radius: 5px;
  color: #fff;
  display: block;
  position: absolute;
  top: -15px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}

.card-account > .title-card {
  background: #F0F6FF;
  padding-top: 45px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 15px 15px 0 0;
}

.card-account > .title-card > .frame-icon {
  width: 100px;
  height: 100px;
  background: #fff;
  border-radius: 50%;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.card-account > .title-card > h2 {
  margin-bottom: 25px;
  font-weight: 700;
  color: #374365;
}

.card-account > .desc-card {
  padding: 45px 35px;
}

.card-account > .desc-card > ul {
  padding-left: 0;
  margin-bottom: 0;
}

.card-account > .desc-card > ul > li {
  display: block;
  margin-bottom: 16px;
  font-weight: 500;
  color: #6B7A9C;
}

.card-account > .desc-card > ul > li:last-child {
  margin-bottom: 0;
}

.card-account.micro > .label-card {
  background: #F1C012;
}

.card-account.micro > .title-card > .frame-icon > img {
  width: 50px;
}

.card-account.premium > .label-card {
  background: #1367C9;
}

.card-account.premium > .title-card > .frame-icon > img {
  width: 70px;
}

.card-account.pro > .label-card {
  background: #F11F12;
}

.card-account.pro > .title-card > .frame-icon > img {
  width: 60px;
}

.card-account.zulu-trade > .label-card {
  background: #E89029;
}

.card-account.zulu-trade > .title-card > .frame-icon > img {
  width: 50px;
}

.card-account.crypto > .label-card {
  background: #80D459;
}

.card-account.crypto > .title-card > .frame-icon > img {
  width: 50px;
}

.card-thumb-1 {
  height: 100%;
  text-align: center;
  background: #F8FBFF;
  border-radius: 15px;
  padding: 50px 40px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.card-thumb-1 > .frame-icon {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background: #E8F1FE;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 29px;
}

.card-thumb-1 > h4 {
  font-weight: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  margin-bottom: 18px;
}

.card-thumb-1 > p {
  margin-bottom: 0;
}

.card-offer {
  background: #F8FBFF;
  border-radius: 20px;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border: 1px solid #E8F1FE;
  position: relative;
}

.card-offer > .label-card {
  background: #1367C9;
  color: #fff;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.3125rem;
  padding: 6px 10px;
  border-radius: 5px;
  position: absolute;
  top: -16px;
  left: 60px;
}

.card-offer > .side-top {
  padding-top: 60px;
  padding-left: 60px;
  padding-right: 60px;
}

.card-offer > .side-top > h2 {
  font-size: 2.25rem;
  line-height: 3.375rem;
  font-weight: 700;
  margin-bottom: 30px;
}

.card-offer > .side-top > p {
  margin-bottom: 50px;
}

.card-offer > .side-top > ul {
  padding-left: 0;
  margin-bottom: 70px;
  list-style: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.card-offer > .side-top > ul > li {
  margin-bottom: 20px;
  color: #6B7A9C;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.card-offer > .side-top > ul > li > .fas {
  color: #1367C9;
  margin-right: 18px;
}

.card-offer > .side-top > ul > li > span {
  font-weight: 600;
  position: relative;
  top: -5px;
}

.card-offer > .side-top > ul > li:last-child {
  margin-bottom: 0;
}

.card-offer > .side-bottom {
  display: block;
  padding: 44px 60px 24px 60px;
  background: #E8F1FE;
  border-radius: 20px;
}

.card-offer > .side-bottom > .btn {
  margin-right: 20px;
}

.card-offer > .side-bottom > .btn > img {
  width: 17px;
}

.card-thumb-2 {
  background: #fff;
  text-align: center;
  border-radius: 15px;
  padding: 60px 45px;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.card-thumb-2 > img {
  width: 60px;
  margin-bottom: 33px;
}

.card-thumb-2 > h4 {
  font-size: 1.625rem;
  line-height: 2.4375rem;
  margin-bottom: 8px;
  font-weight: 700;
}

.card-thumb-2 > p {
  margin-bottom: 0;
}

footer.footer .group-menu-footer {
  background: #263049;
  padding-top: 100px;
  padding-bottom: 84px;
}

footer.footer .group-menu-footer .container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

footer.footer .group-menu-footer .list-menu-footer {
  width: 20%;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

footer.footer .group-menu-footer .list-menu-footer > h6 {
  color: #fff;
  font-weight: 700;
  margin-bottom: 20px;
}

footer.footer .group-menu-footer .list-menu-footer > ul {
  padding-left: 0;
  margin-bottom: 0;
}

footer.footer .group-menu-footer .list-menu-footer > ul > li {
  display: block;
  margin-bottom: 15px;
}

footer.footer .group-menu-footer .list-menu-footer > ul > li > a {
  color: #90A2CD;
  text-decoration: none;
  -webkit-transition: 0.35s ease-in-out;
  -o-transition: 0.35s ease-in-out;
  transition: 0.35s ease-in-out;
}

footer.footer .group-menu-footer .list-menu-footer > ul > li > a:hover {
  color: #fff;
}

footer.footer .group-menu-footer .list-menu-footer > ul > li:last-child {
  margin-bottom: 0;
}

footer.footer .main-footer {
  background: #20293F;
  padding: 50px 0;
}

footer.footer .main-footer .side-left > h6 {
  color: #fff;
  font-weight: 700;
  margin-bottom: 15px;
}

footer.footer .main-footer .side-left > .contact-footer {
  padding-left: 0;
  margin-bottom: 45px;
}

footer.footer .main-footer .side-left > .contact-footer > li {
  display: block;
  color: #90A2CD;
  margin-bottom: 10px;
}

footer.footer .main-footer .side-left > .contact-footer > li > .fas,
footer.footer .main-footer .side-left > .contact-footer > li > .fab {
  width: 30px;
}

footer.footer .main-footer .side-left > .contact-footer > li:last-child {
  margin-bottom: 0;
}

footer.footer .main-footer .side-left .list-img {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

footer.footer .main-footer .side-left .list-img > img {
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  margin-right: 23px;
}

footer.footer .main-footer .side-left .list-img > img:last-child {
  margin-right: 0;
}

footer.footer .main-footer .side-right > h6 {
  color: #fff;
  margin-bottom: 15px;
  font-weight: 700;
}

footer.footer .main-footer .side-right > p {
  font-size: 0.875rem;
  line-height: 1.5rem;
}

footer.footer .copyright {
  background: #20293F;
}

footer.footer .copyright > .container {
  padding-top: 25px;
  padding-bottom: 25px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative;
}

footer.footer .copyright > .container:before {
  content: " ";
  width: 100%;
  height: 1px;
  background: #2E3A59;
  position: absolute;
  top: 0;
  left: 0;
}

footer.footer .copyright > .container > span {
  font-size: 0.875rem;
  color: #90A2CD;
}

footer.footer .copyright > .container > ul {
  padding-left: 0;
  margin-bottom: 0;
}

footer.footer .copyright > .container > ul > li {
  display: inline-block;
  margin-right: 25px;
}

footer.footer .copyright > .container > ul > li > a {
  text-decoration: none;
  font-size: 0.875rem;
  color: #90A2CD;
}

footer.footer .copyright > .container > ul > li:last-child {
  margin-right: 0;
}

@media (max-width: 1399px) {
  section.instrument-trading .row > .side-text > .main-heading {
    font-size: 2.5rem;
    line-height: 3.4375rem;
  }

  section.instrument-trading .row > .side-img > img {
    width: 100%;
  }

  section.count .count-list > span {
    padding: 0 50px;
  }

  section.account-type .container {
    width: 100%;
    max-width: 100%;
  }
}

@media (max-width: 1199px) {
  .hero-banner .item-slider .side-img > img {
    width: 100%;
  }

  .hero-banner .item-slider .side-text .side-text-inner > .title-banner {
    font-size: 3.75rem;
  }

  section.count .count-list > span {
    padding: 0 20px;
  }

  footer.footer .group-menu-footer .list-menu-footer {
    padding-right: 20px;
  }
}

@media (max-width: 991px) {
  header.header > .top-header {
    display: none;
  }

  header.header > .main-header > .container {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  header.header > .main-header > .container > .logo-header {
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
    transform: scale(0.8);
  }

  header.header > .main-header > .container > .main-nav > .btn-nav-mobile {
    width: 30px;
    height: 25px;
    display: block;
  }

  header.header > .main-header > .container > .main-nav > .btn-nav-mobile > span {
    width: 100%;
    height: 4px;
    background: #374365;
    display: block;
    position: relative;
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
    -webkit-transition: 0.35s ease-in-out;
    -o-transition: 0.35s ease-in-out;
    transition: 0.35s ease-in-out;
  }

  header.header > .main-header > .container > .main-nav > .btn-nav-mobile > span:first-child {
    top: 0;
    -webkit-transform-origin: left top;
    -ms-transform-origin: left top;
    -o-transform-origin: left top;
    transform-origin: left top;
  }

  header.header > .main-header > .container > .main-nav > .btn-nav-mobile > span:nth-child(2) {
    top: 7px;
  }

  header.header > .main-header > .container > .main-nav > .btn-nav-mobile > span:last-child {
    top: 14px;
  }

  header.header > .main-header > .container > .main-nav > .btn-nav-mobile:hover {
    cursor: pointer;
  }

  header.header > .main-header > .container > .main-nav > ul {
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
    background: #fff;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: -100vw;
    z-index: 9999;
    -webkit-transition: 0.35s ease-in-out;
    -o-transition: 0.35s ease-in-out;
    transition: 0.35s ease-in-out;
  }

  header.header > .main-header > .container > .main-nav > ul > li {
    margin-right: 0;
    border-bottom: 1px solid #eee;
  }

  header.header > .main-header > .container > .main-nav > ul > li > a {
    padding: 20px 30px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
  }

  header.header > .main-header > .container > .main-nav > ul > li.header-menu-mobile {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 40px 20px;
  }

  header.header > .main-header > .container > .main-nav > ul > li.header-menu-mobile > .group-btn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  header.header > .main-header > .container > .main-nav > ul > li.header-menu-mobile > .group-btn > .btn {
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start;
    margin-right: 15px;
  }

  header.header > .main-header > .container > .main-nav > ul > li.header-menu-mobile > .button-close-nav {
    width: 33px;
    height: 33px;
    padding: 0;
    display: block;
    position: relative;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  header.header > .main-header > .container > .main-nav > ul > li.header-menu-mobile > .button-close-nav > span:first-child {
    width: 100%;
    height: 4px;
    background: #374365;
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  header.header > .main-header > .container > .main-nav > ul > li.header-menu-mobile > .button-close-nav > span:last-child {
    width: 4px;
    height: 100%;
    background: #374365;
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
  }

  header.header > .main-header > .container > .main-nav > ul > li.megamenu > a {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  header.header > .main-header > .container > .main-nav > ul > li.megamenu > a > .fas {
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
    -webkit-transition: 0.35s ease-in-out;
    -o-transition: 0.35s ease-in-out;
    transition: 0.35s ease-in-out;
  }

  header.header > .main-header > .container > .main-nav > ul > li.megamenu > .megamenu-content {
    margin-top: 0;
    padding-bottom: 30px;
    -webkit-box-shadow: none;
    box-shadow: none;
    position: static;
  }

  header.header > .main-header > .container > .main-nav > ul > li.megamenu > .megamenu-content:before {
    display: none;
  }

  header.header > .main-header > .container > .main-nav > ul > li.megamenu > .megamenu-content .side-promo > .side-promo-inner {
    width: 100%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  header.header > .main-header > .container > .main-nav > ul > li.megamenu > .megamenu-content .side-menu {
    border-radius: 15px;
  }

  header.header > .main-header > .container > .main-nav > ul > li.megamenu > .megamenu-content .side-menu .col-lg-6:first-child .group-menu {
    padding-bottom: 0;
  }

  header.header > .main-header > .container > .main-nav > ul > li.megamenu.collapsed > a > .fas {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
  }

  header.header > .main-header > .container > .main-nav > ul > li.menu-mobile {
    display: block;
  }

  header.header.hide-top-header {
    top: 0;
  }

  header.header.toggle-nav > .main-header > .container > .main-nav > ul {
    right: 0;
  }

  .hero-banner {
    margin-top: 80px;
  }

  .hero-banner .item-slider {
    height: auto;
  }

  .hero-banner .item-slider .side-img {
    padding-bottom: 70px;
  }

  .hero-banner .item-slider .side-text {
    padding-top: 70px;
    text-align: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .hero-banner .item-slider .side-text .side-text-inner > .btn {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
  }

  section.instrument-trading .row > .side-text {
    text-align: center;
    margin-bottom: 80px;
  }

  section.instrument-trading .row > .side-img {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  section.transaction .side-text {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
  }

  section.transaction .side-text > p {
    margin-bottom: 30px;
  }

  section.transaction .side-text > .btn {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
  }

  section.transaction .list-logo .thumb-logo.bca > img,
  section.transaction .list-logo .thumb-logo.bri > img,
  section.transaction .list-logo .thumb-logo.bni > img,
  section.transaction .list-logo .thumb-logo.local-bank > img,
  section.transaction .list-logo .thumb-logo.fasapay > img,
  section.transaction .list-logo .thumb-logo.skrill > img,
  section.transaction .list-logo .thumb-logo.neteller > img,
  section.transaction .list-logo .thumb-logo.perfect-money > img,
  section.transaction .list-logo .thumb-logo.crypto-currency > img {
    width: 100px;
  }

  section.platform-trading .col-lg-6:first-child {
    margin-bottom: 70px;
  }

  section.crypto-trading .side-text {
    text-align: center;
  }

  section.crypto-trading .side-text > p {
    max-width: 100%;
  }

  section.crypto-trading .side-text > .btn {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
  }

  section.event-gallery .slider-event .owl-stage {
    padding-top: 0;
    padding-bottom: 0;
  }

  section.event-gallery .slider-event .owl-item > .slider-item > .group-img {
    border-radius: 20px;
  }

  .group-heading-slider {
    margin-bottom: 0;
  }

  .group-heading-slider > .main-heading {
    margin-bottom: 60px;
  }

  .group-heading-slider > .group-meta {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 15px;
    position: relative;
  }

  .group-heading-slider > .group-meta > .clue-slide,
  .group-heading-slider > .group-meta > .count-slide-event,
  .group-heading-slider > .group-meta > .count-slide-blog {
    position: static;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }

  footer.footer .main-footer .side-left {
    margin-bottom: 60px;
  }

  footer.footer .main-footer .side-left > .contact-footer {
    margin-bottom: 30px;
  }

  footer.footer .copyright > .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  footer.footer .copyright > .container > span {
    margin-bottom: 15px;
  }
}

@media (max-width: 767px) {
  footer.footer .group-menu-footer .container {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  footer.footer .group-menu-footer .list-menu-footer {
    width: 50%;
    padding-right: 0;
    margin-bottom: 60px;
  }

  footer.footer .group-menu-footer .list-menu-footer:last-child {
    margin-bottom: 0;
  }
}

@media (max-width: 575px) {
  header.header > .main-header > .container > .main-nav > ul > li.megamenu > .megamenu-content .side-promo > .side-promo-inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
  }

  header.header > .main-header > .container > .main-nav > ul > li.megamenu > .megamenu-content .side-promo > .side-promo-inner > img {
    margin-right: 0;
  }

  header.header > .main-header > .container > .main-nav > ul > li.megamenu > .megamenu-content .side-promo > .side-promo-inner > .text-promo > .btn {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
  }

  .hero-banner .item-slider .side-text .side-text-inner {
    width: 100%;
  }

  .hero-banner .item-slider .side-text .side-text-inner > .title-banner {
    font-size: 2.5rem;
    line-height: 3.125rem;
  }

  section.instrument-trading {
    padding: 100px 0;
  }

  section.instrument-trading .main-heading {
    font-size: 2.25rem;
    line-height: 3rem;
  }

  section.account-type {
    padding-top: 90px;
    padding-bottom: 100px;
  }

  section.account-type .main-heading {
    font-size: 2.25rem;
    line-height: 3rem;
  }

  section.account-type > .sub-heading {
    margin-bottom: 65px;
  }

  section.account-type .group-btn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  section.account-type .group-btn > .btn {
    margin-right: 0;
  }

  section.account-type .group-btn > .btn:first-child {
    margin-bottom: 15px;
  }

  section.count .count-list > h1 {
    margin-bottom: 0;
  }

  section.count .count-list > span {
    width: 285px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 0 60px;
  }

  section.transaction {
    padding: 100px 0;
  }

  section.transaction .main-heading {
    font-size: 2.25rem;
    line-height: 3rem;
    margin-bottom: 15px !important;
  }

  section.transaction p {
    margin-bottom: 35px !important;
  }

  section.security-fund {
    padding-top: 90px;
    padding-bottom: 100px;
  }

  section.security-fund .main-heading {
    font-size: 2.25rem;
    line-height: 3rem;
  }

  section.security-fund .sub-heading {
    margin-bottom: 40px;
  }

  section.platform-trading {
    padding-bottom: 100px;
  }

  section.platform-trading .main-heading {
    font-size: 2.25rem;
    line-height: 3rem;
    margin-bottom: 40px;
  }

  section.crypto-trading {
    padding: 100px 0;
  }

  section.crypto-trading > .ornament {
    display: none;
  }

  section.crypto-trading .side-text > h1 {
    font-size: 2.5rem;
    line-height: 3.3125rem;
    margin-bottom: 20px;
  }

  section.crypto-trading .side-text > p {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }

  section.feature-1 {
    padding: 100px 0;
  }

  section.feature-1 .main-heading {
    font-size: 2.25rem;
    line-height: 3rem;
    margin-bottom: 25px !important;
  }

  section.feature-1 .side-text ul > li {
    margin-bottom: 30px;
  }

  section.feature-2 {
    padding-top: 90px;
    padding-bottom: 100px;
  }

  section.feature-2 .main-heading {
    font-size: 2.25rem;
    line-height: 3rem;
    margin-bottom: 50px;
  }

  section.event-gallery {
    padding-top: 90px;
    padding-bottom: 40px;
  }

  section.event-gallery .main-heading {
    font-size: 2.25rem;
    line-height: 3rem;
    margin-bottom: 40px !important;
  }

  section.achievement {
    padding-top: 90px;
    padding-bottom: 100px;
  }

  section.achievement .main-heading {
    font-size: 2.25rem;
    line-height: 3rem;
  }

  .card-offer > .side-top {
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .card-offer > .side-top > ul {
    margin-bottom: 40px;
  }

  .card-offer > .side-top > h2 {
    font-size: 1.75rem;
    margin-bottom: 10px;
  }

  .card-offer > .side-top > p {
    margin-bottom: 40px;
  }

  .card-offer > .side-bottom {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  header.header > .main-header > .container > .main-nav > ul > li.megamenu > .megamenu-content .side-promo > .side-promo-inner > img {
    width: 200px;
  }

  header.header > .main-header > .container > .main-nav > ul > li.megamenu > .megamenu-content .side-promo > .side-promo-inner > .text-promo > h1 {
    font-size: 2rem;
  }

  section.transaction .side-text > .main-heading {
    font-size: 2rem;
    line-height: 2.5rem;
  }

  section.transaction .list-logo .thumb-logo.bca > img,
  section.transaction .list-logo .thumb-logo.bri > img,
  section.transaction .list-logo .thumb-logo.bni > img,
  section.transaction .list-logo .thumb-logo.local-bank > img,
  section.transaction .list-logo .thumb-logo.fasapay > img,
  section.transaction .list-logo .thumb-logo.skrill > img,
  section.transaction .list-logo .thumb-logo.neteller > img,
  section.transaction .list-logo .thumb-logo.perfect-money > img,
  section.transaction .list-logo .thumb-logo.crypto-currency > img {
    width: 100px;
  }

  section.crypto-trading .side-text > h1 {
    font-size: 3.4375rem;
  }

  section.feature-1 .side-text .main-heading {
    font-size: 2.5rem;
    margin-bottom: 20px;
  }

  section.feature-1 .side-text ul > li {
    margin-bottom: 20px;
  }

  section.feature-1 .side-text ul > li:last-child {
    margin-bottom: 0;
  }
}