doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        |
        |
        |
        title Weltrade - Trading Forex
        |
        |
        |
        //webfonts
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap")
        |
        |
        |
        //vendors css
        link(rel="stylesheet" href="vendors/bootstrap/css/bootstrap.min.css" type="text/css")
        link(rel="stylesheet" href="vendors/owl-carousel/assets/owl.carousel.min.css" type="text/css")
        link(rel="stylesheet" href="vendors/owl-carousel/assets/owl.theme.default.min.css" type="text/css")
        link(rel="stylesheet" href="vendors/fancybox/jquery.fancybox.min.css" type="text/css")
        link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous")
        |
        |
        |
        //main css
        link(rel="stylesheet" href="css/style.css" type="text/css")
    body
        include part/header
        include part/hero-banner
        |
        |
        |
        //instrument trading
        section.instrument-trading
            .container
                .row
                    .col-lg-6.col-xl-5.side-text
                        h1.main-heading.lg Instrument Trading Terlengkap
                        p Trading Forex, Logam, Saham, dan Kripto di Broker Paling Terpecaya
                        .group-btn
                            |
                            |
                            a.btn.btn-primary.btn.btn-lg(href="#") Selengkapnya
                            |
                            |
                            a.btn.btn-success.btn-lg(href="#") Buka Akun 
                    .col-lg-6.col-xl-6.offset-xl-1.side-img
                        |
                        |
                        img(src="images/instrument-trading.jpg" alt="")
        ///instrument trading
        |
        |
        |
        //account type
        section.account-type
            h1.main-heading.lg Tipe Akun
            p.sub-heading Pilih akun yang sesuai dengan strategi terbaik trading anda
            .container
                //account micro
                .wp-card-account
                    .card-account.micro
                        .label-card Trader Pemula
                        .title-card
                            .frame-icon
                                |
                                |
                                img(src="images/icon-micro.png" alt="")
                            h2 Micro
                        .desc-card
                            ul
                                li Deposit Minimum 25 USD
                                li Kecepatan Eksekusi Mulai 0.9 detik
                                li Mata Uang Sen USD dan Sen EUR
                                li Spread Floating Dari 1.5
                ///account micro
                |
                |
                |
                //account premium
                .wp-card-account
                    .card-account.premium
                        .label-card Trader Tingkat Lanjut
                        .title-card
                            .frame-icon
                                |
                                |
                                img(src="images/icon-premium.png" alt="")
                            h2 Premium
                        .desc-card
                            ul
                                li Deposit Minimum 200 USD
                                li Kecepatan Eksekusi Mulai 0.8 detik
                                li Mata Uang Sen USD dan Sen EUR
                                li Spread Floating Dari 1.5
                ///account premium
                |
                |
                |
                //account Pro
                .wp-card-account
                    .card-account.pro
                        .label-card Pilihan Terbaik
                        .title-card
                            .frame-icon
                                |
                                |
                                img(src="images/icon-pro.png" alt="")
                            h2 Pro
                        .desc-card
                            ul
                                li Deposit Minimum 500 USD
                                li Kecepatan Eksekusi Mulai 0.5 detik
                                li Mata Uang USD
                                li Spread Floating Dari 0.3
                ///account Pro
                |
                |
                |
                //account zulu trade
                .wp-card-account
                    .card-account.zulu-trade
                        .label-card Robot Trading
                        .title-card
                            .frame-icon
                                |
                                |
                                img(src="images/icon-zulu-trade.png" alt="")
                            h2 Zulu Trade
                        .desc-card
                            ul
                                li Deposit Minimum 200 USD
                                li Kecepatan Eksekusi Mulai 0.7 detik
                                li Mata Uang USD
                                li Spread Floating Dari 2.9
                ///account zulu trade
                |
                |
                |
                //account crypto
                .wp-card-account
                    .card-account.crypto
                        .label-card Tanpa Biaya
                        .title-card
                            .frame-icon
                                |
                                |
                                img(src="images/icon-crypto.png" alt="")
                            h2 Kripto
                        .desc-card
                            ul
                                li Deposit Minimum 50 USD
                                li Kecepatan Eksekusi Mulai 0.7 detik
                                li Mata Uang USD
                                li Spread Floating Dari 0
                ///account crypto
            .group-btn
                |
                |
                a.btn.btn-primary.btn.btn-lg(href="#") Pelajari Selengkapnya
                |
                |
                a.btn.btn-success.btn-lg(href="#") Buka Akun Sekarang
        ///account type
        |
        |
        |
        //count
        section.count
            .container
                .row
                    .col-sm-6.col-lg-3.mb-5.count-list
                        h1
                            |
                            |
                            span.count-num 15
                            |
                            |
                            span +
                        |
                        |
                        span tahun pengalaman di pasar forex
                    .col-sm-6.col-lg-3.mb-5.count-list
                        h1
                            |
                            |
                            span.count-num 500
                            |
                            |
                            span K+
                        |
                        |
                        span trader yang puas dari 180 negara
                    .col-sm-6.col-lg-3.mb-5.mb-sm-0.count-list
                        h1
                            |
                            |
                            span.count-num 24
                            |
                            |
                            span /
                            |
                            |
                            span.count-num 7
                        |
                        |
                        span layanan full support untuk klien
                    .col-sm-6.col-lg-3.count-list
                        h1
                            |
                            |
                            span.count-num 30
                        |
                        |
                        span menit untuk penarikan dana
        ///count
        |
        |
        |
        //deposit and withdraw
        section.transaction 
            .container
                .row
                    .col-lg-5.mb-5.mb-lg-0.side-text
                        h1.main-heading.sm Deposit dan Penarikan Tercepat di Market
                        p Deposit ke akun trading Anda melalui transfer bank, kartu kredit, atau dapatkan uang Anda segera menggunakan metode penarikan otomatis instan kami!
                        |
                        |
                        a.btn.btn-success.btn-lg(href="#") Pelajari Lebih Lanjut
                    .col-lg-6.offset-lg-1.list-logo
                        .row
                            .col-6.col-sm-4.mb-4
                                .thumb-logo.bca
                                    |
                                    |
                                    img(src="images/logo-bca.png" alt="")
                                    |
                                    |
                            .col-6.col-sm-4.mb-4
                                .thumb-logo.bri
                                    |
                                    |
                                    img(src="images/logo-bri.png" alt="")
                                    |
                                    |
                            .col-6.col-sm-4.mb-4
                                .thumb-logo.bni
                                    |
                                    |
                                    img(src="images/logo-bni.png" alt="")
                                    |
                                    |
                            .col-6.col-sm-4.mb-4
                                .thumb-logo.local-bank
                                    |
                                    |
                                    img(src="images/logo-local-bank.png" alt="")
                                    |
                                    |
                            .col-6.col-sm-4.mb-4
                                .thumb-logo.fasapay
                                    |
                                    |
                                    img(src="images/logo-fasapay.png" alt="")
                                    |
                                    |
                            .col-6.col-sm-4.mb-4
                                .thumb-logo.skrill
                                    |
                                    |
                                    img(src="images/logo-skrill.png" alt="")
                                    |
                                    |
                            .col-6.col-sm-4.mb-4.mb-sm-0
                                .thumb-logo.neteller
                                    |
                                    |
                                    img(src="images/logo-neteller.png" alt="")
                                    |
                                    |
                            .col-6.col-sm-4
                                .thumb-logo.perfect-money
                                    |
                                    |
                                    img(src="images/logo-perfect-money.png" alt="")
                                    |
                                    |
                            .col-6.col-sm-4
                                .thumb-logo.crypto-currency
                                    |
                                    |
                                    img(src="images/logo-crypto-currency.png" alt="")
                                    |
                                    |
        ///deposit and withdraw
        |
        |
        |
        //security fund
        section.security-fund
            .container
                h1.main-heading.lg Keamanan Dana
                p.sub-heading Keamanan dana Anda adalah prioritas utama kami
                .row
                    .col-lg-4.mb-4.mb-lg-0
                        .card-thumb-1
                            .frame-icon
                                |
                                |
                                img(style="width:80px" src="images/icon-shield.png" alt="")
                            h4 Proteksi Saldo Negatif
                            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci quisquam suscipit magni dicta
                    .col-lg-4.mb-4.mb-lg-0
                        .card-thumb-1
                            .frame-icon
                                |
                                |
                                img(style="width:65px" src="images/icon-thumbs-up.png" alt="")
                            h4 Broker yang andal dan tepercaya
                            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci quisquam suscipit magni dicta
                    .col-lg-4
                        .card-thumb-1
                            .frame-icon
                                |
                                |
                                img(style="width:65px" src="images/icon-id.png" alt="")
                            h4 Verifikasi Akun Cepat
                            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci quisquam suscipit magni dicta
                .block-btn.text-center
                    |
                    |
                    a.btn.btn-success.btn-lg(href="#") Mulai Trading
        ///security fund
        |
        |
        |
        //platform trading
        section.platform-trading
            .container
                h1.main-heading.lg Platform Trading
                .row
                    .col-lg-6.col-xl-5.offset-xl-1
                        .card-offer
                            .side-top
                                h2 Meta Trader 4
                                p MetaTrader 4 menawarkan perdagangan terkemuka dan teknologi analitik, serta layanan tambahan. Ia memiliki semua yang Anda butuhkan untuk perdagangan Forex.
                                ul
                                    li
                                        |
                                        |
                                        i.fas.fa-check-circle
                                        |
                                        |
                                        span 3 Mode Eksekusi
                                    li
                                        |
                                        |
                                        i.fas.fa-check-circle
                                        |
                                        |
                                        span 9 Kerangka Waktu Trading
                                    li
                                        |
                                        |
                                        i.fas.fa-check-circle
                                        |
                                        |
                                        span 1700+ robot perdagangan dan 2100+ indikator teknis
                                    li
                                        |
                                        |
                                        i.fas.fa-check-circle
                                        |
                                        |
                                        span Notifikasi tepat waktu
                                    li
                                        |
                                        |
                                        i.fas.fa-check-circle
                                        |
                                        |
                                        span Mendukung iOS dan Android OS
                            .side-bottom
                                |
                                |
                                a.btn.btn-success.btn-sm(href="#" style="margin-right: 20px; margin-bottom: 20px")
                                    |
                                    |
                                    i.fab.fa-apple
                                    |
                                    |
                                    span IOS
                                    |
                                    |
                                |
                                |
                                a.btn.btn-success.btn-sm(href="#" style="margin-right: 20px; margin-bottom: 20px")
                                    |
                                    |
                                    i.fab.fa-android
                                    |
                                    |
                                    span Android
                                    |
                                    |
                                |
                                |
                                a.btn.btn-success.btn-sm(href="#" style="margin-right: 20px; margin-bottom: 20px")
                                    |
                                    |
                                    i.fab.fa-windows
                                    |
                                    |
                                    span Windows
                                    |
                                    |
                                |
                                |
                                a.btn.btn-success.btn-sm(href="#" style="margin-bottom: 20px")
                                    |
                                    |
                                    i.fas.fa-window-restore
                                    |
                                    |
                                    span Web Terminal
                                    |
                                    |
                    .col-lg-6.col-xl-5
                        .card-offer
                            |
                            |
                            label.label-card Versi Terbaru
                            .side-top
                                h2 Meta Trader 5
                                p Platform multi-aset MetaTrader 5 yang mendukung metode hedging, yang memungkinkan pembukaan beberapa posisi dari instrumen keuangan yang sama.
                                ul
                                    li
                                        |
                                        |
                                        i.fas.fa-check-circle
                                        |
                                        |
                                        span 5 mode eksekusi
                                    li
                                        |
                                        |
                                        i.fas.fa-check-circle
                                        |
                                        |
                                        span Multi-currency tester
                                    li
                                        |
                                        |
                                        i.fas.fa-check-circle
                                        |
                                        |
                                        span Lebih dari 2500 aplikasi algoritmik siap pakai
                                    li
                                        |
                                        |
                                        i.fas.fa-check-circle
                                        |
                                        |
                                        span 6 jenis pending order
                                    li
                                        |
                                        |
                                        i.fas.fa-check-circle
                                        |
                                        |
                                        span Mendukung iOS dan Android OS
                            .side-bottom
                                |
                                |
                                a.btn.btn-success.btn-sm(href="#" style="margin-right: 20px; margin-bottom: 20px")
                                    |
                                    |
                                    i.fab.fa-apple
                                    |
                                    |
                                    span IOS
                                    |
                                    |
                                |
                                |
                                a.btn.btn-success.btn-sm(href="#" style="margin-right: 20px; margin-bottom: 20px")
                                    |
                                    |
                                    i.fab.fa-android
                                    |
                                    |
                                    span Android
                                    |
                                    |
                                |
                                |
                                a.btn.btn-success.btn-sm(href="#" style="margin-right: 20px; margin-bottom: 20px")
                                    |
                                    |
                                    i.fab.fa-windows
                                    |
                                    |
                                    span Windows
                                    |
                                    |
                                |
                                |
                                a.btn.btn-success.btn-sm(href="#" style="margin-right: 20px; margin-bottom: 20px")
                                    |
                                    |
                                    i.fas.fa-window-restore
                                    |
                                    |
                                    span Web Terminal
                                    |
                                    |
                                |
                                |
                                a.btn.btn-success.btn-sm(href="#" style="margin-right: 20px; margin-bottom: 20px")
                                    |
                                    |
                                    img(src="images/icon-huaweii.png" alt="")
                                    |
                                    |
                                    span Huaweii
                                    |
                                    |
        ///platform trading
        |
        |
        |
        //crypto trading
        section.crypto-trading
            |
            |
            img.ornament(src="images/coin-crypto-1.png" alt="")
            |
            |
            img.ornament(src="images/coin-crypto-2.png" alt="")
            |
            |
            img.ornament(src="images/coin-crypto-3.png" alt="")
            .container
                .row
                    .col-lg-6.side-img
                        |
                        |
                        img(src="images/crypto-trading.jpg" alt="")
                    .col-lg-5.offset-lg-1.side-text
                        h1
                            |
                            |
                            span.me-3 Trading
                            |
                            |
                            span Mata Uang Kripto
                        p Tingkatkan trading Anda ke level berikutnya dengan komisi 0% pada trading.
                        |
                        |
                        a.btn.btn-success.btn-lg(href="#") Mulai Trading
        ///crypto trading
        |
        |
        |
        //feature 1
        section.feature-1
            .container
                .row
                    .d-none.d-lg-block.col-lg-6.col-xl-6.side-img
                        |
                        |
                        img(src="images/bg-feature-1.jpg" alt="")
                    .col-lg-6.col-xl-5.offset-xl-1.side-text
                        h1.main-heading.lg Alat Inovatif Trader
                        ul
                            li
                                .icon-frame
                                    |
                                    |
                                    img(src="images/icon-feature-list-1.png" alt="")
                                .text-list
                                    h4 Bonus 100%
                                    p Deposit $200 ke akun Anda dan dapatkan bonus kredit 100% langsung.
                            li
                                .icon-frame
                                    |
                                    |
                                    img(src="images/icon-feature-list-2.png" alt="")
                                .text-list
                                    h4 Tidak ada biaya komisi
                                    p Lebih dari 30 cara untuk mendepositkan akun perdagangan Anda tanpa komisi, dan selalu pada rate yang menguntungkan.
                            li
                                .icon-frame
                                    |
                                    |
                                    img(src="images/icon-feature-list-3.png" alt="")
                                .text-list
                                    h4 Affiliasi Program
                                    p Dapatkan komisi untuk semua pelanggan baru yang Anda bawa.
        ///feature 1
        |
        |
        |
        //feature 2
        section.feature-2
            .container
                h1.main-heading.lg Era Baru Trading Forex
                .row
                    .col-lg-4.mb-4.mb-lg-0
                        .card-thumb-2
                            |
                            |
                            img(src="images/icon-feature-list-4.png" alt="")
                            h4 CASH PUZZLE
                            p Kumpulkan puzzle untuk memenangkan hadiah uang tunai harian hingga $15.000!
                    .col-lg-4.mb-4.mb-lg-0
                        .card-thumb-2
                            |
                            |
                            img(src="images/icon-feature-list-5.png" alt="")
                            h4 TRADE2WIN
                            p Selesaikan 2 lot turnover trading selama seminggu dan dapatkan kesempatan untuk memenangkan hadiah tunai setiap hari Minggu!
                    .col-lg-4
                        .card-thumb-2
                            |
                            |
                            img(src="images/icon-feature-list-6.png" alt="")
                            h4 SPINNER
                            p Anda bisa mendapatkan bonus hingga $1.000 untuk trading setelah setiap deposit.
        ///feature 2
        |
        |
        |
        //education
        section.education
            .container
                //group heading
                .group-heading-slider
                    h1.main-heading.lg Edukasi
                    .group-meta
                        .clue-slide
                            |
                            |
                            img(src="images/icon-swipe.png" alt="")
                            |
                            |
                            span Geser untuk melihat yang lainnya
                        .count-slide-blog
                ///group heading
                |
                |
                |
                //slider education
                .slider-education.owl-carousel
                    .slider-item
                        |
                        |
                        img(src="images/education-1.jpg" alt="")
                        .text-slider
                            |
                            |
                            a(href="#") Lorem Ipsum Dolor Sit Amet
                            p Lorem Ipsum is simply dummy text of the printing and typesetting industry ...
                            .block-meta
                                .list-meta
                                    |
                                    |
                                    i.fas.fa-calendar
                                    |
                                    |
                                    span 12 Januari 2022
                    .slider-item
                        |
                        |
                        img(src="images/education-2.jpg" alt="")
                        .text-slider
                            |
                            |
                            a(href="#") Lorem Ipsum Dolor Sit Amet Consectetur
                            p Lorem Ipsum is simply dummy text of the printing and typesetting industry ...
                            .block-meta
                                .list-meta
                                    |
                                    |
                                    i.fas.fa-calendar
                                    |
                                    |
                                    span 12 Januari 2022
                    .slider-item
                        |
                        |
                        img(src="images/education-3.jpg" alt="")
                        .text-slider
                            |
                            |
                            a(href="#") Lorem Ipsum Dolor Sit Amet
                            p Lorem Ipsum is simply dummy text of the printing and typesetting industry ...
                            .block-meta
                                .list-meta
                                    |
                                    |
                                    i.fas.fa-calendar
                                    |
                                    |
                                    span 12 Januari 2022
                ///slider education
        ///education
        |
        |
        |
        //event gallery
        section.event-gallery
            .container
                //group heading
                .group-heading-slider
                    h1.main-heading.lg Galeri Event
                    .group-meta
                        .clue-slide
                            img(src="images/icon-swipe.png" alt="")
                            span Geser untuk melihat foto lainnya
                        .count-slide-event
                ///group heading
                |
                |
                |
                //slider event gallery
                .slider-event.owl-carousel
                    |
                    |
                    a.slider-item(href="images/event-gallery-1.jpg" data-fancybox data-caption="Lorem ipsum dolor sit amet")
                        .group-img
                            |
                            |
                            img(src="images/event-gallery-1-thumb.jpg" alt="")
                            |
                            |
                            img(src="images/icon-zoom.png" alt="")
                        .title-slider Lorem ipsum dolor sit amet
                    |
                    |
                    a.slider-item(href="images/event-gallery-2.jpg" data-fancybox data-caption="Lorem ipsum dolor sit amet")
                        .group-img
                            |
                            |
                            img(src="images/event-gallery-2-thumb.jpg" alt="")
                            |
                            |
                            img(src="images/icon-zoom.png" alt="")
                        .title-slider Lorem ipsum dolor sit amet
                    |
                    |
                    a.slider-item(href="images/event-gallery-3.jpg" data-fancybox data-caption="Lorem ipsum dolor sit amet")
                        .group-img
                            |
                            |
                            img(src="images/event-gallery-3-thumb.jpg" alt="")
                            |
                            |
                            img(src="images/icon-zoom.png" alt="")
                        .title-slider Lorem ipsum dolor sit amet
                ///slider event gallery
        ///event gallery
        |
        |
        |
        //achievement
        section.achievement
            .container
                h1.main-heading.lg Penghargaan Kami
                .row
                    .col-6.col-md-4.col-xl-2.mb-5.mb-md-5.thumb-achieve
                        .thumb-ribbon
                            |
                            |
                            img(src="images/ribbon.png" alt="")
                            |
                            |
                            span 2021
                        |
                        |
                        span Most Trusted In Asia
                    .col-6.col-md-4.col-xl-2.mb-5.mb-md-5.thumb-achieve
                        .thumb-ribbon
                            |
                            |
                            img(src="images/ribbon.png" alt="")
                            |
                            |
                            span 2019
                        |
                        |
                        span Best Foreign Broker 2019
                    .col-6.col-md-4.col-xl-2.mb-5.mb-md-5.thumb-achieve
                        .thumb-ribbon
                            |
                            |
                            img(src="images/ribbon.png" alt="")
                            |
                            |
                            span 2017
                        |
                        |
                        span Best Customer Service Award
                    .col-6.col-md-4.col-xl-2.mb-5.thumb-achieve
                        .thumb-ribbon
                            |
                            |
                            img(src="images/ribbon.png" alt="")
                            |
                            |
                            span 2015
                        |
                        |
                        span Best Affiliate Program
                    .col-6.col-md-4.col-xl-2.thumb-achieve
                        .thumb-ribbon
                            |
                            |
                            img(src="images/ribbon.png" alt="")
                            |
                            |
                            span 2015
                        |
                        |
                        span Best Trade Execution
                    .col-6.col-md-4.col-xl-2.thumb-achieve
                        .thumb-ribbon
                            |
                            |
                            img(src="images/ribbon.png" alt="")
                            |
                            |
                            span 2014
                        |
                        |
                        span Business Olimp Awards
        ///achievement
        |
        |
        |
        include part/footer
    |
    |
    |
    //vendor js
    script(src="vendors/jquery/jquery-3.6.0.min.js")
    script(src="vendors/owl-carousel/owl.carousel.min.js")
    script(src="vendors/fancybox/jquery.fancybox.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js")
    script(src="vendors/count-up/jquery.countup.min.js")
    |
    |
    |
    //main js
    script(src="js/main.js")
