html, body{
    font-family: 'Poppins', sans-serif;
}

p{
    color: $text-color;
    line-height: 1.625rem;
}

span{
    line-height: 1.625rem;
}

h1, h2, h3, h4, h5, h6{
    color: $text-color-dark;
}