$text-color: #6B7A9C;
$text-color-2: #B1C4EF;
$text-color-dark: #374365;
$text-footer: #90A2CD;
$bg-dark-1: #20293F;
$bg-dark-2: #263049;
$bg-dark-3: #323E5E;
$bg-light-1: #E8F1FE;
$bg-light-2: #F0F6FF;
$bg-light-3: #F8FBFF;
$primary-color: #1367C9;
$accent-color: #3EC25F;